.single-post,{
  #header {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
  }
  .index-main {
    @media(min-width: 992px) {
      padding-top: 180px;
    }
    padding-top: 90px;
  }
  .post-image {
    position: relative;
     img {
      height: auto !important;
      width: 100% !important;
    }
    .image-content {
      position: absolute;
      bottom: 10px;
      left: 30px;
    }
  }
  .the-title {
    margin-top: 20px;
  }
  .line {
    margin-bottom: 10px;
  }
  .blog-content-wrap {
    .html5-video-player {
      width: 100% !important;
      height: auto !important;
    }
    a {
      color: #10546B;
      text-decoration: underline;
    }
    padding: 2%;
    padding-left: 0px !important;
    margin-top: 15px;
    h2 {
      color: #C57916;
      font-size: 24px;
      font-family: urw-din, sans-serif;
      font-style: normal;
       font-weight: 400;
       line-height: 29px;
       margin-top: -16px;
       margin-bottom: 50px;
    }
    h3 {
      font-size: 20px;
      color: #032C3E;
      line-height: 28px;
    }
    h4 {
      color: #10546B;
      font-size: 20px;
    }
    p {
      color: #262626;
      font-size: 17px;
      line-height: 26px;
    }
    .icon-date {
      text-transform: uppercase;
    }
  }
  .authorImage {
    padding-top: 5px;
    margin-bottom: 30px;
  }
  .newsletter-wrap {
    #gform_confirmation_wrapper #gform_confirmation_message_2, .gform_confirmation_message {
      font-size: 1.2em !important;
      padding-top: 20px !important;
    }
    padding: 5%;
    margin-top: 50px;
    img {
      margin-bottom: 2%;
    }
    h1 {
      font-style: italic;
    }
    input {
      border: 1px solid #D1D1D1;
      box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.19);
    }
    .orangeLine {
      height: 2px;
      width: 60px;
      background-color: #C57916;
      margin-top: -20px;
    }
    #gform_submit_button_2 {
      width: auto;
      background-color: #C57916;
      color: white;
      font-size: 15px;
      text-transform: uppercase;
      padding: 16px 32px;
      transition: .2s ease-in all;
      font-family: urw-din, sans-serif;
      font-style: normal;
      font-weight: 400;
      box-shadow: none !important;
      border: none !important;
      @media(max-width: 576px) {
        font-size: 12px;
      }
    }
    #gform_submit_button_2:hover {
      color: white;
      background-color: #BC7A2A;
      text-decoration: none;
    }
  }
  .sidebar-wrap {
  	background-color: #D5E8EC !important;
  	margin-top: 40px !important;
    @media(min-width: 576px) {
      margin: 2%;
    }
  	padding: 4%;
    padding-left: 0px !important;
  	a {
  		padding-left: 5%;
  		color: #262626;
  		font-size: 16px;
  		font-family: urw-din, sans-serif;
  		font-style: normal;
  		 font-weight: 400;
  	}
  	.widget-title {
  		color: #032C3E;
  		font-size: 14px;
  		text-transform: uppercase;
  		letter-spacing: 1.5px;
  		padding-left: 5%;
  	}
    .social-icons-row {
      list-style: none;
      margin-left: -20px;
      li {
        display:inline-block;
        padding: .4%;
        img {
          width: 17px;
          height: auto;
        }
      }
    }
  }
  .author img {
    max-width: 69px;
    height: auto;
    width: 100%;
    border-radius: 100%;
    margin-bottom: 30px;
    margin-left: 16%;
  }
  .authorName {
    color: #032C3E;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: underline;
    font-family: urw-din, sans-serif;
    font-style: normal;
     font-weight: 400;
  }
}

.page-template-template-posts {
  .site-main {
    padding-top: 180px;
    h3 {
      font-size: 14px;
      color: #606060;
      font-family: urw-din,sans-serif;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin-bottom: 3.8%;
    }
  }
  .page-wrapper {
    position: relative;
    nav.pagination {
      margin-top: 30px;
      margin-bottom: 30px;
      .nav-links {
        margin: 0 auto;
      }
    }
  }
  .blog-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .single-post {
      @media(min-width: 1200px){
        max-width: 30%;
      }
      @media(max-width: 1200px) and (min-width: 768px){
        max-width: 48%;
      }
      @media(max-width: 767px) {
        margin-bottom: 4% !important;
      }
      width: 100%;
      height: auto;
      margin: 1%;
      position: relative;
      .image  {
          height: 171px;
          width: 100%;
          background: url("../images/quilt1.png") no-repeat !important;
          @media(min-width: 1200px){
            background-size: auto !important;
          }
          @media(max-width: 1200px) and (min-width: 576px){
            background-size: auto !important;
          }
          @media(max-width: 576px){
            background-size: auto !important;
          }
          img {
            width: 100%;
            height: auto;
            min-height: 171px;
          }
        }
      .post-meta {
        background-color: white;
        height: auto;
        margin-left: 15px;
        width: 100%;
        min-height: 200px;
        @media(min-width: 767px){
          max-width: 100%;
        }
        .post-date {
          color: #262626;
          font-size: 14px;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          padding-left: 60px;
          padding-top: 4px;
        }
        .post-title {
          color: #262626;
          font-size: 20px;
          padding-top: 20px;
          padding-bottom: 10px;
          margin: 1%;
          padding-right: 1.5%;
        }
        .post-categories {
          color: #878787;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          padding-right: 1.5%;
          padding-left: 1%;
        a {
          color: #878787;
        }
      }

      }
      .person img {
        position: absolute;
        top: 152px;
        left: 0;
        width: 51px;
        height: auto;
        border-radius: 100%;
      }
    }
  }

}
