a.skipnav {
	@include rem(11);
	display: block;
	padding: 5px 20px;
	color: $gray-600;
}

/* make images full width */
img.full {
	display: block;
	height: auto;
	width: 100%;
}

body {
	font-family: "freight-text-pro";
	font-style: normal;
	font-weight: 400;
}

// a {
// 	transition: 2s ease all;
// }
//
// a:hover {
// 	transform: scale(1.04);
// }

#full-screen-search button.close {
position: absolute;
z-index: 99992;
top: 30px;
right: 30px;
font-size: 24px;
font-weight: bold;
color: #ffff !important;
opacity: 1 !important;
cursor: pointer;
font-family: urw-din, sans-serif;
font-style: normal;
}

h1 {
	color: #032C3E;
	font-size: 55px;
	font-weight: 300;
  font-family: "freight-text-pro";
	font-style: normal;
	font-weight: 400;
	line-height: 64px;
	@media (max-width: 1200px) and (min-width: 767px) {
		font-size: 42px;
		line-height: 46px;
	}
	@media(max-width: 767px) {
		font-size: 30px;
		line-height: 38px;
	}
}

h2 {
	font-size: 36px;
	color: #032C3E;
	font-family: "freight-text-pro";
	font-style: normal;
	font-weight: 400;
}

h3 {
	font-family: "freight-text-pro";
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
}

blockquote {
	color: #C57916;
	font-size: 24px;
	margin-bottom: 25px;
	font-family: urw-din,sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 29px;
}
.goldberg-button {
	@media(min-width: 576px) {
			width: auto;
	}
	@media(max-width: 576px) {
			width: 80%;
	}
	@media(max-width: 350px){
		font-size: 11px !important;
		padding: 12px !important;
	}
	background-color: #C57916;
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	padding: 16px 32px;
	transition: .3s ease all;
	font-family: urw-din, sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 1.5px;
	@media(max-width: 1200px) and (min-width: 767px) {
		font-size: 12px;
		padding: 14px 18px;
	}
	@media(max-width: 767px) {
		font-size: 12px;
		padding: 14px 46px;
	}
}

.goldenberg-button2 {
	color: #C57916 !important;
	font-family: urw-din, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.goldberg-button:hover {
	color: white;
	background-color: #BC7A2A;
	text-decoration: none;
}

.container-quilt {
	@media(max-width: 576px) {
	padding-right: 0px;
	padding-left: 0px;
	}
}

.breadcrumb-container {
	a {
		font-size: 14px;
		text-transform: uppercase;
		color: #606060;
		font-family: urw-din, sans-serif;
		font-style: normal;
		font-weight: 400;
		text-decoration: underline !important;
		@media(max-width: 576px) {
			font-size: 10px;
		}
	}
 ul {
	 @media(max-width: 576px) {
		 text-align: center;
	 }
	 li:first-of-type {
		 margin-left: -10px;
		 .separator {
			 display: none !important;
		 }
	 }
	 li:last-of-type {
		 margin-left: -10px;
		 .separator:last-of-type {
			 display: none !important;
		 }
	 }
 }
}

.navbar .dropdown-menu li {
  width: 100%;
  margin-left: 0 !important;
}

.post-title {
	@media(max-width: 576px) {
		font-size: 22px !important;
	}
}

.search-results article img {
	display: none;
}

.disclaimer-wrap {
	padding-top: 140px;
	margin: 0 auto;
	display: block;
	width: 100%;
	padding-bottom: 60px;
	border: 1px solid #10546B;
	background-size: cover;
	padding: 8%;
	margin-top: 120px;
	margin-bottom: 30px;
}
.pagination .page-numbers {
	color: #4A4A4A !important;
	font-size: 20px;
	text-align: center;
	padding-top: 3% !important;
	padding-right: 6px;
}

.error404 {
	padding-top: 140px;
	padding-bottom: 10%;
	margin-bottom: 100px;
	.no-results {
		padding-top: 10%;
		padding-left: 0px !important;
		button {
			display: none;
		}
	}
}
