footer {
  padding-bottom: 80px;
  a {
    color: #4A4A4A;
    font-size: 18px;
    font-family: "freight-text-pro";
    font-style: normal;
    font-weight:400;
    line-height: 32px;
  }
  a:hover {
    text-decoration: none;
  }
  @media(min-width: 768px) {
    max-width: 94%;
    margin: 0 auto;
    display: block;
  }
  width: 100%;
  #footer-inner {
    background: url("../images/footerBack.jpg") no-repeat center;
    background-size: cover;
    padding: 4%;
    @media (max-width: 576px){
    padding: 7%;
    }
    .menu-item  {
      @media(max-width: 576px) {
        margin-left: -8px;
      }
    }
    h2 {
      font-family: "freight-text-pro";
      font-style: normal;
      font-weight:400;
    }
    .phoneNumber{
      color: #C57916;
      font-family: "freight-text-pro";
      font-style: normal;
      font-weight:400;
      margin-top: -10px;
    }
    .address {
      font-size: 16px;
      font-family: "freight-text-pro";
      font-style: normal;
      font-weight:400;
      color: #4A4A4A;
      margin-top: -8px;
    }
  }
ul {
  list-style: none;
}
.footer-wrap {
  min-height: auto;
  max-width: 400px;
  width: 100%;
  padding-left: 70px;
  display: block;
  margin: 0 auto;
  padding-top: 80px;
  @media(max-width: 992px) and (min-width: 576px) {
      margin: 0px;
      padding-left: 0px;
      padding-top: 20px;
      padding-bottom: 30px;
  }
  @media (max-width: 576px){
    padding-bottom: 60px;
    padding-left: 0px;
    padding-top: 20px !important;
  }
  .footerLogo {
    margin-bottom: 16px;
  }
  p {
    font-family: "freight-text-pro";
    font-style: normal;
    font-weight:400;
  }
  h2 {
    margin-bottom: 40px;
    color: #09435D;
  }
  .orangeLine {
    margin-top: -60px;
  }
  a {
    margin-top: 100px !important;
  }
  .button-contact {
    width: auto;
  	background-color: #C57916;
  	color: white;
  	font-size: 15px;
  	text-transform: uppercase;
  	padding: 16px 32px;
  	transition: .2s ease-in all;
  	font-family: urw-din, sans-serif;
  	font-style: normal;
  	font-weight: 400;
    letter-spacing: 1.5px;
  	@media(max-width: 576px) {
  		font-size: 12px;
  	}
  }
  .button-contact:hover {
    background-color: #bc7a2a;
    text-decoration: none;
  }
}
.footer-bottom {
  margin-top: 30px;
  position: relative;
  .goldenbergLogo img {
    display: block;
    margin: 0 auto;
    padding: 3%;
    @media(max-width: 400px) {
      max-width: 260px;
    }
  }
  .copyright {
    font-size: 14px;
    font-family: "freight-text-pro";
    font-style: normal;
    font-weight: 400;
    color: #4A4A4A;
    a {
      font-size: 14px;
      text-decoration: underline;
    }
  }
  .social-icons-row {
    max-width: auto;
    margin: 0 auto;
    display: block;
    max-width: 180px;
    margin-top: 20px;
    ul {
      display: flex;
      justify-content: center;
      li {
        display: inline-block;
        a {
          margin: 7px;
          transition: .3s ease-in all;
          img.social-logo {
            width: 20px;
            height: auto;
            fill: #10546B !important;
          }
          .twitterLogo {
            margin-top: 3px;
          }
        }
        a:hover {
          opacity: 0.8;
          fill: blue;
        }
      }
    }
  }
  .blue-button {
    margin: 15px;
    float: right;
    text-transform: uppercase;
    background-color: #10546B;
    font-size: 15px;
    color: white;
    padding: 14px 32px;
    letter-spacing: 1.5px;
    transition: .2s ease-in all;
    font-family: urw-din, sans-serif;
  	font-style: normal;
  	font-weight: 400;
    letter-spacing: 1.5%;
    @media(max-width: 768px){
      padding: 7px 16px;
      font-size: 12px;
    }
  }
  .blue-button:hover {
    background-color: #032C3E;
    text-decoration: none;
  }
}
.nav-container {
  margin-left: -30px !important;
  ul {
    margin-top: 20px;
  }
  a {
    transition: .3s all;
  }
  a:hover {
    color: #C57916;
  }
}
.whiteline {
  position: absolute;
  left: 50px;
}
}
