
#header {
	@media(max-width: 992px) {
		max-width: 100%;
		left: 0;
		margin-left: 0px;
		height: 65px;
	}
	@media(max-width: 1024px) and (min-width: 1024px){
		max-width: 94%;
		margin-left: -47%;
	}
		position: fixed;
		z-index: 9999;
		height: 105px;
		padding-bottom: 20px;
		max-width: 90%;
		width: 100%;
		top: 0;
		left: 50%;
		margin-left: -45%;
		background-color: white;
		a {
			color: black;
		}
		.logo {
			margin-top: 12px;
			width: 300px;
			height: auto;
			@media(max-width: 1200px) and (min-width: 992px) {
				width: 210px;
				height: auto;
				margin-top: 15px;
			}
			@media(min-width: 1024px) and (max-width: 1024px) {
				width: 210px !important;
				height: auto;
			}
			@media(max-width: 992px) {
				width: 160px;
				height: auto;
				margin-top: 8px;
				margin-left: -12px;
			}
		}
		.phoneNumber {
	   color: #C57916;
		 position: absolute;
		 top: 14px;
		 right: 55px;
		 font-weight: 400;
		 @media(max-width: 1200px) {
			 font-size: 24px;
		 }
		 @media(max-width: 992px) {
			 display: none;
		 }
		}
}
.drop-one .dropdown-divider:last-of-type {
	display: none;
}
.form-control {
	display: none !important;
}

.search-button {
	width: 35px;
	height: auto;
	border: none !important;
	background-color: transparent !important;
	@media(max-width: 1000px) {
		display: none;
	}
}
.noHover:hover {
	color: black !important;
}

.navbar  {
	ul.navbar-nav{
	@media (min-width: 992px) {
		position: absolute;
		bottom: -6px;
		right: 2px;
		display: flex;
		flex-wrap: wrap;
	}
	@media(min-width: 992px) and (max-width: 1200px) {
		right: 0px;
		bottom: -14px;
	}
	li {
		margin: 2px;
		a.active {
			color: orange;
		}
	}
	}
	a {
	color: #032C3E;
	font-family: urw-din, sans-serif;
  font-style: normal;
   font-weight: 400;
	 letter-spacing: 1px;
	 font-size: 15px;
	 transition: .2s ease all;
	 cursor: pointer;
}


	a:hover {
		color: #C57916 !important;
}
.dropdown-item:hover  {
	background-color: transparent !important;
}
.dropdown-menu {
	@media(max-width: 992px) {
		background-color: transparent !important;
		border: none !important;
		 width: 100%;
	}
	li {
		border-bottom: 1px solid white !important;
	}
	border-top: none !important;
	border-radius: 0px !important;
}
}
.image-line {
	@media(max-width: 992px) {
		display: none;
	}
}
.navbar-collapse {
	@media (max-width: 992px) {
		background-color: #eff0ed;
		margin-top: 13px !important;
	  overflow: scroll;
	}
	width: 100% !important;
	li {
		@media(max-width: 992px) {
			padding-top: 15px;
			border-bottom: .5px solid white;
			padding-bottom: 15px;
			.nav-link {
				margin-left: 20px !important;
			}
		}
	}
	li:last-of-type {
		border: none !important;
	}
}

.navbar-nav a:active {
	color: orange !important;
}

.navbar-nav a.active {
	color: orange !important;
}

@media(max-width: 767px) {
	.drop-two  .dropdown-item:nth-child(n+1)  {
		display: none;
	}
	.drop-two .dropdown-divider:nth-child(n+1) {
		display: none;
	}
	.drop-two .dropdown-item:first-child {
		display: inherit;
	}
}

$bgcolor: #111111;
$hambgcolor: black;
$hambasewidth: 25px;
$hamsizemultiplier: 1;

.hamburger {
	@media(min-width: 1200px) {
		display: none;
	}
	width: 35px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	right: 3%;
	margin-left: -($hambasewidth * $hamsizemultiplier) / 2;
	top: 35px;
	margin-top: -(22.5px * $hamsizemultiplier) / 2;
	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 80%;
		background: #032C3E none repeat scroll 0% 0%;
		opacity: 1;
		z-index: 999;
		right: 0px;
		transition: all 0.2s ease-in;
		transform: rotate(0deg);
		&:nth-child(1) {
			margin-top: 0px;
		}
		&:nth-child(2) {
			margin-top: 9px;
			margin-right: 0px;
		}
		&:nth-child(3) {
			margin-top: 18px;
		}
	}
	&.opened {
		span {
			&:nth-child(1) {
				transform: rotate(135deg);
				margin-top: 8px * $hamsizemultiplier;
			}
			&:nth-child(2) {
				opacity: 0;
				right: -$hambasewidth * 3;
			}
			&:nth-child(3) {
				transform: rotate(-135deg);
				margin-top: 8px * $hamsizemultiplier;
			}
		}
	}
}

//
// search icon

.search-button {
	background: transparent !important;
	border: none !important;
	margin-left: -10px;
	transform: .2s ease-in all;
}

.search-button:hover {
	opacity: 0.8;
}
