.page-template-template-homepage {
  @media(max-width: 992px){
    #header {
      box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
    }
  }
  .quilt-box {
    @media(max-width: 576px) {
      overflow-x: hidden;
    }
  }
  .hero-homepage {
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    max-height: 990px;
    height: auto;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    @media screen and (max-width: 1040px) and (min-width: 769px) {
    height: 690px;
    background-position: 50% center;
  }
    @media screen and (max-width: 768px) and (min-width: 768px) {
    height: 590px;
    background-position: 50% center;
  }
    @media screen and (max-width: 767px) and (min-width: 576px) {
      height: 460px;
      margin-top: 25px;
  }
  @media screen and (max-width: 576px) and (min-width: 420px) {
    height: 360px;
    margin-top: 25px;
  }
  @media(max-width: 420px) {
    height: 300px;
  }
    // @media(max-width: 767px) {
    // min-height: 300px;
    // background-position: center top;
    // }
    .hero-content {
      position: relative;
      z-index: 5;
      padding-top: calc(14% - 30px);
      padding-bottom: 10%;
    // @media screen and (max-width: 1024px) and (min-width: 576px) {
    // padding-top: 6.5% !important;
    // }
    @media screen and (max-width: 576px) and (min-width: 420px) {
      margin-top:340px;
      padding-top: 12%;
    }
    @media(max-width: 420px) {
    padding-bottom: 200px;
    margin-top: 250px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 75%;
    padding-top: 12%;
  }
      h1 {
        @media(max-width: 1400px) and (min-width: 767px) {
          font-size: 36px;
          line-height: normal;
        }
        @media(max-width: 767px) {
          font-size: 36px !important;
          line-height: 46px !important;
        }
      }
    }
    .p11{
      margin-bottom: 11%;
      font-family: "freight-text-pro";
    	font-style: normal;
    	font-weight: 400;
      font-size: 21px;
      line-height: 31px;
      @media(max-width: 992px) and (min-width: 576px) {
        margin-bottom: 5%;
        font-size: 20px;
      }
      @media(max-width: 576px) {
        font-size: 20px;
        line-height: normal
      }
    }
  }
  .callout-main-box {
    @media(max-width: 576px) and (min-width: 330px){
      top: 100%;
      max-width: 100%;
      margin-left: 0px;
      min-height: 330px;
    }
    @media(max-width: 320px) {
      margin-top: 520px;
      max-width: 100%;
      margin-left: 0px;
      min-height:  300px;
    }
    @media(min-width: 1950px) {
      min-height: 390px;
    }
    @media(max-width: 1200px) {
      max-width: 94%;
      margin-left: -47%;
    }
    @media (max-width: 1200px) and (min-width: 992px) {
      top: -30px !important;
    }
    @media (max-width: 992px) and (min-width: 576px) {
      top: -20px !important;
    }
    box-shadow: 5px 5px 30px 0px rgba(191,192,194,0.4);
    max-width: 78%;
    width: 100%;
    margin: 0 auto;
    display: block;
    min-height: 310px;
    height: auto;
    background-color: white;
    @media(min-width: 1200px){
      top: -10%;
    }
    @media(min-width: 576px){
      padding-top: 2%;
    }
    @media(max-width: 576px){
      padding-top: 26px;
    }
    top: -6%;
    position: absolute;
    z-index: 100;
    left: 50%;
    margin-left: -39%;
    h1 {
      padding: 2%;
      font-size: 30px;
      color: #10546B;
      font-family: "freight-text-pro";
    	font-style: normal;
    	font-weight: 400;
      @media(max-width: 576px) {
        font-size: 24px;
      }
    }
    a.difProb {
      text-align: center;
      padding-top: 15px;
      color: #8C9CA2;
      font-size: 16px;
      text-decoration: underline;
      font-family: "freight-text-pro";
    	font-style: normal;
    	font-weight: 400;
    }
    .boxLink {
      color: #032C3E;
      font-size: 24px;
      font-family: "freight-text-pro";
    	font-style: normal;
    	font-weight: 400;
      @media(max-width: 576px) {
        font-size: 20px;
        .col {
          padding-top: 30px !important;
        }
      }
    }
  }
  .callout-section {
      background-color: #EFF0ED;
      @media(min-width: 1200px) {
        min-height: 320px;
      }
      min-height: 500px;
      position: relative;
      @media(min-width: 1200px){
        margin-bottom: -20px;
      }
      @media(max-width: 1200px) and (min-width: 576px){
        margin-bottom: -160px;
      }
      @media(max-width: 576px){
        margin-bottom: 50px;
      }
  }
  .sectionTwo {
    @media(max-width: 576px) {
      padding-top: 24%;
    }
    background-color: #EFF0ED;
    padding-bottom: 5px;
    width: 100%;
    margin: 0 auto;
    display: block;
    @media (min-width: 1200px) {
      padding-bottom: 150px;
    }
    .buttonWrap {
      margin-bottom: 80px;
      // margin-top: -60px;
      a {
        max-width: 240px;
        padding: 12px;
      }
      a:hover {
        color: #fff;
        background-color: #bc7a2a;
        text-decoration: none;
      }
      // @media(max-width: 576px) {
      //   display: none !important;
      // }
    }
  }
  .practice-areas {
    @media (min-width: 1200px) {
      max-width: 66%;
    }
    @media(max-width: 576px) {
      // font-size: 20px;
      margin-top: 54% !important;
      p {
        font-size: 22px !important;
      }
      a {
        font-size: 22px;
        line-height: 42px !important;
      }
    }
    @media(min-width: 576px){
      margin-top: 20px !important;
    }
    width: 100%;
    margin: 0 auto;
    padding: 5%;
    padding-bottom: 15px !important;
    font-size: 24px;
    font-family: "freight-text-pro";
    font-style: normal;
    font-weight: 400;
    a {
      color: black;
      text-decoration: underline;
    }
  }
  .quilt-box {
    @media (min-width: 1200px) {
      max-width: 74%;
      margin-top: -150px;
    }
    @media (max-width: 1200px) {
      max-width: 94%;
      width: 100%;
      margin: 0 auto;
      display: block;
      margin-bottom: 60px !important;
      // margin-top: 8%;
    }
    @media(max-width: 576px){
      margin-top: -20px;
    }
    min-height: 620px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: -50px;
    margin-bottom: 80px;
    .column1 {
      width: 100%;
      min-height: 310px;
      margin-bottom: -2px;
      height: auto;
      background: url("../images/quilt1.png") no-repeat;
      background-size: cover;
      background-size: cover;
      position: relative;
      .slider-home {
        .slick-slider {
          min-height: 300px !important;
          margin-bottom: 50px;
        }

        .slick-dots
        {

            z-index: 99;
            width: 100%;
            padding: 0;
            margin: 0;
            position: absolute;
            bottom: 10px;

            list-style: none;

            text-align: center;
        }
        .slick-dots li
        {
            position: relative;

            display: inline-block;

            width: 18px;
            height: 18px;
            margin: 0 1px;
            padding: 0;


            cursor: pointer;
        }
        .slick-dots li button
        {
            font-size: 0;
            line-height: 0;

            display: block;

            width: 22px;
            height: 20px;
            padding: 3px;

            cursor: pointer;

            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }
        .slick-dots li button:hover,
        .slick-dots li button:focus
        {
            outline: none;
        }
        .slick-dots li button:hover:before,
        .slick-dots li button:focus:before
        {
            opacity: 1;
        }
        .slick-dots li button:before
        {
            font-family: 'slick';
            font-size: 22px;
            line-height: 13px;

            position: absolute;
            top: 0px;
            left: 0;

            width: 10px;
            height: 10px;

            content: '○';
            background-color: white;
            border-radius: 100%;
            text-align: center;

            opacity: 1;


            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .slick-dots li.slick-active button:before
        {
            opacity: 1;
            color: #C57916;
            content: '•';
            font-size: 32px;
            margin-top: -1px;
            background-color: transparent !important;
        }
      }
      .slide-content {
        @media(min-width: 1200px){
          padding-top: 6%;
        }
      }
      .slider-content {
        text-align: center;
        color: #032C3E;
        min-height: 300px;
        @media(min-width: 768px) {
           padding: 2.5%;
        }
        @media(max-width: 768px) {
          padding: 3.2%;
        }
        h1 {
          @media(max-width: 768px) and (min-width: 420px) {
            font-size: 100px;
          }
          @media(max-width: 420px){
            font-size: 90px;
          }
          font-size: 134px;
          text-align: center !important;
          float: left;
          padding-right: 15px;
        }
        h2 {
          font-size: 36px;
          text-align: center !important;
          float: right;
          @media(max-width: 768px) {
            font-size: 30px;
          }
        }
      }
    }
    .column2 {
      width: 100%;
      max-height: 350px;
      height: auto;
      position: relative;
      .gradient {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
      .slide-wrap {
        // width: 105.6%;
        height: 100%;
        .slick-dotted.slick-slider
        {
            margin-bottom: -10px;
        }

        .slick-dots
        {
            position: absolute;
            bottom: 3%;
            right: 3%;
            z-index: 99;
            max-width: 140px;
            width: 100%;


            width: 100%;
            padding: 0;
            margin: 0;

            list-style: none;

            text-align: center;
        }
        .slick-dots li
        {
            position: relative;

            display: inline-block;

            width: 18px;
            height: 18px;
            margin: 0 1px;
            padding: 0;
            // margin-top: 30px;

            cursor: pointer;
        }
        .slick-dots li button
        {
            font-size: 0;
            line-height: 0;

            display: block;

            width: 22px;
            height: 20px;
            padding: 3px;

            cursor: pointer;

            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }
        .slick-dots li button:hover,
        .slick-dots li button:focus
        {
            outline: none;
        }
        .slick-dots li button:hover:before,
        .slick-dots li button:focus:before
        {
            opacity: 1;
        }
        .slick-dots li button:before
        {
            font-family: 'slick';
            font-size: 22px;
            line-height: 13px;

            position: absolute;
            top: 0px;
            left: 0;

            width: 10px;
            height: 10px;

            content: '○';
            background-color: white;
            border-radius: 100%;
            text-align: center;

            opacity: 1;
            // color: black;

            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .slick-dots li.slick-active button:before
        {
            opacity: 1;
            color: #C57916;
            content: '•';
            font-size: 32px;
            margin-top: -1px;
            background-color: transparent !important;
        }
      .single-slide {
        width: 100%;
        @media(min-width: 1200px) {
          min-height: 359px;
        }
        @media(max-width: 1200px) and (min-width: 576px) {
          min-height: 391px;
        }
        @media(max-width: 576px) {
          min-height: 350px;
        }
        position: relative;
        background: #000 no-repeat center center;
        background-size: cover;
        .postH {
          transition: .3s ease-in all;
        }
        .row-author {
          padding-top: 15px;
        }
        .post-title:hover {
          text-decoration: underline;
          color: white !important;
        }
        .post-meta {
          padding: 4%;
          position: absolute;
          bottom: 10%;
          left: 3%;
          padding-right: 6%;
          z-index: 99;
          .post-title {
            font-size: 30px;
            color: white;
            transition: .9s ease-in all;
            line-height: 34px;
            @media(max-width: 576px) {
              font-size: 24px;
            }
          }
          .post-date {
            color: white;
          }
          .authorName {
            letter-spacing: 1.5px;
            color: white;
            text-transform: uppercase;
            font-family: urw-din, sans-serif;
            float: left;
            margin-bottom: -6px;
            border-bottom: .5px solid white;
          }
          .person img {
            width: 69px;
            height: auto;
            border-radius: 100%;
            border: 3px solid white;
          }
        }
      }
    }
  }
    .column3 {
      width: 100%;
      min-height: 310px;
      height: auto;
      background: url("../images/quilt-grayback.jpg") no-repeat center top;
      background-size: cover;
      padding-bottom: 8%;
      @media(max-width: 576px) {
        height: auto;
      }
      h2 {
        font-size: 14px;
        color: #032c3e;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        padding-top: 50px;
        @media(max-width: 576px) {
          text-align: center;
        }
        }
      .single-verdict-slide {
         .verdict-date {
           color: #262626;
           font-size: 50px;
           padding-top: 25px;
           padding-left: 10px;
           // background: url("../images/slider-oval.png") no-repeat center top;
           h1 {
             padding-top: 30px;
             padding: 50px 10px;
             border-radius: 100%;
             text-align: center;
             background: url("../images/slider-oval.png") no-repeat center;
           }
         }
         h2 {
           @media(max-width: 576px) {
             width: 70%;
             margin: 0 auto;
             margin-top: -12px !important;
           }
         }
         .verdict-content {
           color: #262626;
           font-size: 20px;
           line-height: 27px;
           padding-right: 6%;
           @media(max-width: 576px) {
             font-size: 18px;
             padding: 3%;
             text-align: center;
             width: 100%;
             margin: 0 auto;
           }
         }
         a {
           @media(max-width: 767px) {
             display: block;
             margin: 0 auto;
             max-width: 82px;

           }
           color: #C57916;
           font-size: 13px;
           font-family: urw-din, sans-serif;
           font-style: normal;
           font-weight: 400;
           letter-spacing: 1.5px;
           text-transform: uppercase;
           .orangeLine {
             margin-top: 3px;
             height: 2px;
             background-color: #C57916;
             width: 64px;
             transition: .3s ease all;
           }
       }
       a:hover {
         text-decoration: none;
       }
       a:hover .orangeLine {
         width: 80px;
       }
       }
    }
    .column4 {
      width: 100%;
      min-height: 310px;
      height: auto;
      background-color: #10546B;
      position: relative;
      padding: 2%;
      padding-bottom: 40px !important;
      @media(max-width: 576px) {
        padding-bottom: 10% !important;
      }
      .news-wrap {
        padding-left: 1%;
      }
      ul {
        list-style: none;
        margin-left: -25px;
        li {
          padding-top: 10px;
          padding-bottom: 1%;
          padding-right: 9%;
          a {
            color: white;
            font-size: 18px;
            line-height: 25px;
            border-bottom: 1px solid #1A5E75;
            padding-bottom: 10px;
            transition: .3s ease all;
          }
          .news-link:hover {
            text-decoration: underline;
          }
        }
      }
      h2 {
        color: #CBDFE5;
        font-size: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        padding-top: 20px;
        padding-left: 15px;
      }
      a.button-view {
        margin-top: 2%;
        margin-left: 35px;
        color: #C57916;
        font-size: 13px;
        font-family: urw-din, sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        .orangeLine {
          margin-top: 3px;
          height: 2px;
          background-color: #C57916;
          width: 64px;
          transition: .3s ease all;
        }
    }
    a:hover {
      text-decoration: none;
    }
    a:hover .orangeLine {
      width: 80px;
    }
    }
  }
  .sectionThree {
    .image-chunk-wrapper {
      min-height: 500px;
      width: 100%;
      margin: 0 auto;
      display: block;
      position: relative;
      margin-top: 10px !important;
      height: auto;
      @media(max-width: 992px) {
      margin-bottom: -70px !important;
      margin-left: -20px !important;
      margin: 0 auto;
      }
      @media(max-width: 576px) {
        display: none;
      }
      .personOne {
        position: absolute;
        top: 30px;
        right: 170px;
        max-width: 202px;
        height: auto;
        border-radius: 100%;
        width: 100%;
        @media(max-width: 992px) {
          max-width: 40%;
          right: 150px;
        }
      }
      .personThree {
        position: absolute;
        bottom: 110px;
        right: 180px;
        z-index: 2;
        max-width: 129px;
        height: auto;
        border-radius: 100%;
        width: 100%;
        @media(max-width: 992px) {
          // max-width: 50%;
          bottom: 140px;
          right: 160px;
        }
      }
      .personTwo {
        position: absolute;
        top: 20%;
        right: 6%;
        z-index: 3;
        max-width: 161px;
        height: auto;
        border-radius: 100%;
        width: 100%;
        @media(max-width: 992px) {
          // max-width: 40%;
          right: 50px;
        }
      }
      .graycircle {
        position: absolute;
        top: 0;
        right: 8%;
        z-index: -1;
        width: 165px;
        height: auto;
      }
      .graycircle-small {
        position: absolute;
        top: 120px;
        right: 340px;
        z-index: 8;
        @media(max-width: 992px) {
          right: 70%;
          top: 12%;
          max-width: 40%;
        }
      }
      .orangeOval {
        position: absolute;
        bottom: 180px;
        right: 130px;
        z-index: 9;
        @media(max-width: 992px) {
          right: 20%;
        }
      }
    }
    .third-section-content {
      font-family: "freight-text-pro";
      font-style: normal;
      font-weight: 400;
      p {
        font-size: 17px;
        color: #4A4A4A;
      }
      @media(max-width: 576px) {
        padding: 6%;
        margin-top: 0px;
      }
      padding: 18%;
      padding-left: 0px;
      margin-top: 60px;
      h2 {
        padding-bottom: 20px;
        @media(max-width: 992px) {
          margin-top: -20px;
        }
        @media(max-width: 576px) {
          margin-top: -40px;
        }
      }
      a {
        color: #C57916;
        font-size: 13px;
        font-family: urw-din, sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        .orangeLine {
          margin-top: 3px;
          height: 2px;
          background-color: #C57916;
          width: 74px;
          transition: .3s ease all;
        }
    }
    a:hover {
      text-decoration: none;
    }
    a:hover .orangeLine {
      width: 160px;
    }
    }
  }
  .testimonial-slider  {
    @media(min-width: 1200px) {
        max-width: 70%;
        margin-top: -40px !important;
    }
    @media(max-width: 576px) and (min-width: 400px) {
        max-width: 100%;
        padding-top: 30px;
        padding-bottom: 0px;
        margin-top: 6%;
    }
    @media(max-width: 400px){
      // margin-bottom: 25px;
      margin-top: 6%;
    }
    height: auto;
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #032C3E;
    font-family: "freight-text-pro";
    font-style: normal;
    font-weight: 400;
    p  {
      font-size: 30px;
      margin-bottom: 10px;
      @media(max-width: 576px) {
          line-height: normal;
          font-size: 22px;
      }
    }
    .quote-author{
      font-size: 16px;
      color:#C57916;
      margin: 0 auto;
    }
    .slick-slider {
      padding: 5%;
      height: 320px;
    }

    .slick-dots
    {
        width: 100%;
        padding: 0;
        margin: 0;

        list-style: none;

        text-align: center;

    }
    .slick-dots li
    {
        position: relative;

        display: inline-block;

        width: 18px;
        height: 18px;
        margin: 0 1px;
        padding: 0;
        // margin-top: 30px;

        cursor: pointer;
    }
    .slick-dots li button
    {
        font-size: 0;
        line-height: 0;

        display: block;

        width: 22px;
        height: 20px;
        padding: 3px;

        cursor: pointer;

        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
    }
    .slick-dots li button:hover,
    .slick-dots li button:focus
    {
        outline: none;
    }
    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before
    {
        opacity: 1;
    }
    .slick-dots li button:before
    {
        font-family: 'slick';
        font-size: 22px;
        line-height: 13px;

        position: absolute;
        top: 0px;
        left: 0;

        width: 10px;
        height: 10px;

        content: '○';
        background-color: #E0E0E0;
        border-radius: 100%;
        text-align: center;

        opacity: 1;
        // color: black;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .slick-dots li.slick-active button:before
    {
        opacity: 1;
        color: black;
        content: '•';
        font-size: 32px;
        margin-top: -1px;
        background-color: transparent !important;
    }

  }
  .associatesListing {
    @media(max-width: 767px) {
      margin-top: 15px;
    }
    ul {
      list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 40px;
        margin-left: -20px;
      li {
        @media(min-width: 767px) {
            padding-right: 30px;
            padding-left: 30px;
            margin-top: 70px !important;
            margin: 5px;
            img {
              height: 53px;
              width: auto;
            }
        }
        @media(max-width: 767px) {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 20px;
            margin-top: 20px;
            img {
              height: 33px;
              width: auto;
            }
        }
        a {
          transition: .2s ease-in all;
        }
        a:hover {
          opacity: 0.7;
        }
        }

      }
    }

    .homepageFooter {
      background: url("../images/GHA-Footer.png") no-repeat right;
      background-size: 70% auto;
      min-height: 400px;
      @media(max-width: 768px){
        background: none;
      }
      @media(max-width: 576px){
        min-height: auto;
      }
      .footer-wrap {
        display: none;
      }
      .homepage-contact-callout {
        a {
          .orangeLine {
            margin-top: 10px;
            height: 2px;
            background-color: #C57916;
            width: 26%;
            transition: .3s ease all;
          }
      }
      a:hover {
        text-decoration: none;
      }
      a:hover .orangeLine {
        width: 88%;
      }
      }
      .blue-callout {
        @media(min-width: 1850px) {
          margin-left: 140px;
        }
        @media(max-width: 576px) {
          padding-left: 6%;
          height: 100%;
          width: 100%;
          margin-top: 10px;
          padding: 11%;
        }
        background: url("../images/blueback.png") no-repeat;
        background-size: cover;
        padding-left: 2%;
        padding-top: 55px;
        height: 251px;
        width: 265px;
        margin-top: 80px;
        color: white;
        transition: .4s ease-in all;
        h1 {
          color: white;
          font-family: freight-text-pro, serif;
          font-style: italic;
          font-weight: 400;
          font-size: 40px;
        }
        p {
          font-size: 16px;
          font-family: "freight-text-pro";
          font-style: normal;
          line-height: 32px;
          font-weight: 400;
          margin-bottom: -9px;
        }
      }
    }

    .homepage-contact-callout:hover {
      text-decoration: none;
    }


  }
