.page-template-template-sub-category {
  #header {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
  }
.top-content {
  background: url("../images/sub-category-back.png") repeat-y right;
  background-attachment: fixed;
  padding-top: 180px;
  padding-bottom: 80px;
  @media(max-width: 576px){
    padding-top: 110px;
  }
  .content-wrap {
    width: 70%;
    @media(max-width: 767px){
      width: 90%;
      margin: 0 auto;
    }
  }
  h5 {
    color: #032C3E;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 20px;
  }
  p {
    color: #4A4A4A;
    font-size: 17px;
    line-height: 26px;
  }
  .content-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .button-wrap {
    margin-top: 10px !important;
    @media(max-width: 767px){
      margin-left: 20px;
    }
  }
}
.practice-approach {
  height: auto;
  padding-top: 20px;
  padding-bottom: 60px;
  margin: 0 auto;
  display: block;
  background-color: #EFF0ED;
  margin-bottom: 50px;
  .approachHeader {
    color: #032C3E;
    font-size: 30px;
    @media(min-width: 1200px) {
      width: 70%;
    }
    margin: 3%;
    @media(max-width: 576px){
      font-size: 24px;
      padding-bottom: 10px;

    }
  }
  .white-box-circumstances {
    // min-height: 327px;
    height: auto;
    max-width: 780px;
    width: 100%;
    padding: 20px;
    background-color: white;
    @media(min-width: 992px) {
        padding-left: 3% !important;
    }
    h4 {
      color: #10546B;
      font-size: 17px;
      margin: 2%;
      margin-left: 5px !important;
      line-height: 27px;
      @media(max-width: 767px){
        line-height: normal;
      }
    }
    ul {
      @media(min-width: 768px){
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 70px;
        column-gap: 70px;
        -moz-column-gap: 40px;
        margin-top: 20px;
      }
      li {
        color: #4A4A4A;
        font-size: 19px;
        padding-top: 6.2%;
        line-height: 26px;
        font-weight: 400;
        @media(max-width: 576px){
          font-size: 20px;
          line-height: 32px;
          padding-top: 3%;
        }
      }

    }
    ol {
      padding-left: 5%;
      li {
        padding-top: 10px;
      }
    }
  }
  .our-approach-content {
    padding: 9%;
    p {
      color: #4A4A4A;
      font-size: 17px;
    }
    h2 {
      color: #C57916;
      font-size: 24px;
      margin-bottom: 25px;
      font-family: urw-din, sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 29px;
    }
    h3 {
      font-size: 20px;
      color: #10546B;
    }
  }
}

.information-callout {
  @media(min-width: 992px) {
      max-width: 84%;
  }
  @media(max-width: 992px) {
      max-width: 90%;
      padding-bottom: 30px;
      min-height: auto;
      height: auto;
  }
  width: 100%;
  min-height: 460px;
  height: auto;
  background-color: #E6E8E4;
  margin: 0 auto;
  padding: 2%;
  margin-top: -120px !important;
  margin-bottom: 60px;
  position: relative;
  .image-wrap {
    @media(max-width: 1000px) {
      display: none;
    }
    min-height: 400px;
    height: auto;
    max-width: 350px;
    width: 100%;
    margin-top: 30px;
    position: relative;
    .sub-circle1 {
      position: absolute;
      top: 80px;
      left: 70px;
      width: 219px;
      height: 220px;
      img {
        border-radius: 100%;
        height: 100%;
        width: auto;
      }
    }
    .sub-circle2 {
      position: absolute;
      top: 240px;
      left: 48px;
    }
    .sub-circle3 {
      position: absolute;
      top: 80px;
      right: 30px;
      @media(max-width: 1200px){
        display: none;
      }
    }
  }
  .information-wrapper {
    min-height: 400px;
    height: auto;
    @media(min-width: 992px) {
      padding-top: 50px;
      padding-left: 5%;
    }
    @media(max-width: 992px) {
      padding: 4%;
    }
    h1 {
      color: #262626;
      font-size: 30px;
      line-height: normal;
      @media(max-width: 576px) {
        font-size: 24px;
      }
    }
    p {
      color: #4A4A4A;
      font-size: 17px;
      max-width: 75%;
      width: 100%;
      margin-bottom: 40px;
      @media(max-width: 1200px) {
        padding-bottom: 40px;
        max-width: 100%;
      }
    }
    .goldberg-button {
      @media (max-width: 450px) {
        font-size: 9px;
        padding: 12px 12px;
      }
    }
  }
}

.quilt-box {
  min-height: 620px;
  max-width: 92%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 80px;
  @media(max-width: 576px) {
    margin-top: -10px;
  }
  .column1 {
    width: 100%;
    min-height: 310px;
    height: auto;
    background: #D5E8EC;
    background-size: cover;
    position: relative;
    @media(max-width: 576px){
      padding-bottom: 3%;
    }
    .single-testimonial {
      padding: 70px 10px;
      text-align: center;
      height: 340px;
      h2 {
        padding-top: 9%;
        color: #032C3E;
        font-size: 24px;
        line-height: 32px;
        @media(max-width: 576px) {
          font-size: 20px !important;
          line-height: normal;
        }
      }
      .quote-author {
        font-size: 16px;
        color: #C57916;
      }

    }
    .slick-dots {
          position: absolute;
          z-index: 99;
          width: 100%;
          padding: 0;
          margin: 0;
          bottom: 0;
          list-style: none;

          text-align: center;
      }
      .slick-dots li
      {
          position: relative;

          display: inline-block;

          width: 18px;
          height: 18px;
          margin: 0 1px;
          padding: 0;
          // margin-top: 30px;

          cursor: pointer;
      }
      .slick-dots li button
      {
          font-size: 0;
          line-height: 0;

          display: block;

          width: 22px;
          height: 20px;
          padding: 3px;

          cursor: pointer;

          color: transparent;
          border: 0;
          outline: none;
          background: transparent;
      }
      .slick-dots li button:hover,
      .slick-dots li button:focus
      {
          outline: none;
      }
      .slick-dots li button:hover:before,
      .slick-dots li button:focus:before
      {
          opacity: 1;
      }
      .slick-dots li button:before
      {
          font-family: 'slick';
          font-size: 22px;
          line-height: 13px;

          position: absolute;
          top: 0px;
          left: 0;

          width: 10px;
          height: 10px;

          content: '○';
          background-color: white;
          border-radius: 100%;
          text-align: center;

          opacity: 1;
          // color: black;

          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }
      .slick-dots li.slick-active button:before
      {
          opacity: 1;
          color: #C57916;
          content: '•';
          font-size: 32px;
          margin-top: -1px;
          background-color: transparent !important;
      }

  }
  .column2 {
    width: 100%;
    min-height: 310px;
    height: auto;
    position: relative;
    .gradient {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .slide-wrap {
      .slick-dots
      {
          position: absolute;
          bottom: 3%;
          right: 3%;
          z-index: 99;
          max-width: 140px;
          width: 100%;
          // // bottom: -25px;
          //
          // display: block;

          width: 100%;
          padding: 0;
          margin: 0;

          list-style: none;

          text-align: center;
          @media(max-width: 576px) {
            right: 0px;
          }
      }
      .slick-dots li
      {
          position: relative;

          display: inline-block;

          width: 18px;
          height: 18px;
          margin: 0 1px;
          padding: 0;
          // margin-top: 30px;

          cursor: pointer;
      }
      .slick-dots li button
      {
          font-size: 0;
          line-height: 0;

          display: block;

          width: 22px;
          height: 20px;
          padding: 3px;

          cursor: pointer;

          color: transparent;
          border: 0;
          outline: none;
          background: transparent;
      }
      .slick-dots li button:hover,
      .slick-dots li button:focus
      {
          outline: none;
      }
      .slick-dots li button:hover:before,
      .slick-dots li button:focus:before
      {
          opacity: 1;
      }
      .slick-dots li button:before
      {
          font-family: 'slick';
          font-size: 22px;
          line-height: 13px;

          position: absolute;
          top: 0px;
          left: 0;

          width: 10px;
          height: 10px;

          content: '○';
          background-color: white;
          border-radius: 100%;
          text-align: center;

          opacity: 1;

          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }
      .slick-dots li.slick-active button:before
      {
          opacity: 1;
          color: #C57916;
          content: '•';
          font-size: 32px;
          margin-top: -1px;
          background-color: transparent !important;
      }
    .single-slide {
      width: 100%;
      @media(min-width: 1200px) {
        min-height: 359px;
      }
      @media(max-width: 1200px) and (min-width: 576px) {
        min-height: 391px;
      }
      @media(max-width: 576px) {
        min-height: 350px;
      }
      position: relative;
      background: #000 no-repeat center center;
      background-size: cover;
      .postH {
        transition: .3s ease-in all;
      }
      .row-author {
        padding-top: 15px;
      }
      .post-title:hover {
        text-decoration: underline;
        color: white !important;
      }
      .post-meta {
        padding: 4%;
        position: absolute;
        bottom: 10%;
        left: 1%;
        z-index: 99;
        .post-title {
          font-size: 30px;
          color: white;
          line-height: 34px;
          transition: .9s ease-in all;
        }
        .post-date {
          color: white;
        }
        .authorName {
          letter-spacing: 1.5px;
          color: white;
          text-transform: uppercase;
          font-family: urw-din, sans-serif;
          float: left;
          margin-bottom: -6px;
          border-bottom: .5px solid white;
        }
        .person img {
          width: 69px;
          height: auto;
          border-radius: 100%;
          border: 3px solid white;
        }
      }
    }
  }
}
  .column3 {
    width: 100%;
    min-height: 310px;
    height: auto;
    background: url("../images/quilt-grayback.jpg") no-repeat;
    background-size: cover;
    position: relative;
    padding: 3%;
    @media(max-width: 992px) {
      padding-bottom: 8% !important;
    }
    .single-settlement {
        h2 {
          font-size: 14px;
          color: #032C3E;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          padding-top: 20px;
        }
      .verdict-date {
        background: url("../images/oval-white.png") no-repeat;
        display: block;
        padding: 60px;
        @media(min-width: 1200px) {
          padding-top: 25px !important;
          font-size: 50px;
          margin-top: 50%;
        }
        @media(max-width: 1200px) and (min-width: 992px) {
          padding-left: 25px !important;
          font-size: 28px;
          padding: 25px;
          background-size: contain;
          margin-top: 50%;
        }
        @media(max-width: 992px) {
          font-size: 50px;
          background-position: center;
          padding-left: 54px;
        }
        padding-left: 14px;
        text-align: center;
        color: #262626;
      }
      .verdict-content {
        color: #262626;
        font-size: 22px;
        line-height: 31px;
      }
      a {
        color: #C57916;
        font-size: 13px;
        font-family: urw-din, sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1.5px;
        .orangeLine {
          margin-top: 3px;
          height: 2px;
          background-color: #C57916;
          width: 20%;
          transition: .3s ease all;
        }
      }
      a:hover {
        text-decoration: none;
      }
      a:hover .orangeLine {
        width: 40%;
      }
    }
  }
  .column4 {
    width: 100%;
    min-height: 310px;
    height: auto;
    background-color: #C57916;
    .control-wrap {
      padding: 55px 25px;

    }
    h2 {
      font-size: 36px;
      color: #754409;
      @media(max-width: 992px) {
        font-size: 28px;
      }
    }
    h3 {
      font-size: 36px;
      color: white;
    }
    a {
      color: white;
      text-decoration: underline;
      text-transform: uppercase;
      font-size: 15px;
      font-family: urw-din, sans-serif;
      font-style: normal;
       font-weight: 400;
       transition: .2s ease-in;
    }
    a:hover {
      color: #032C3E;
    }
  }
}

/* Dots */


.slick-dots
{

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 2px;
    padding: 0;
    margin-top: 20px;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 22px;
    height: 20px;
    // padding: 25px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 24px;
    line-height: 12px;

    position: absolute;
    top: 0px;
    left: 0;

    width: 9px;
    height: 10px;

    content: '•';
    background-color: #fff;
    border-radius: 100%;
    text-align: center;

    opacity: 1;
    // color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: orange;
    content: '•';
    font-size: 36px;
}
}
