.page-template-template-practice-areas {
#header {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
}
.top-section {
  padding-top: 160px;
  font-family: "freight-text-pro";
  font-style: normal;
  font-weight: 400;
  @media(max-width: 767px){
    padding-top: 110px;
  }
  h3 {
    text-align: center !important;
    margin: 0 auto;
    padding:2%;
    font-size: 14px;
    color: #606060;
    font-family: urw-din, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform:uppercase;
    letter-spacing: 1.5px;
  }
  img {
    margin-top: -20px;
  }
  p {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    padding: 2%;
    padding-top: 5px !important;
    @media(max-width: 767px){
      max-width: 92%;
    }
  }
}
.hero-image {
  margin-top: 20px !important;
  max-width: 1147px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  img {
    width: 100%;
    height: auto;
  }
}
.practiceBack {
  // margin-top: -100px;
  min-height: 583px;
  height: auto;
  width: 100%;
  background: url("../images/practiceBack.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
  top:550px;
  right: 0;
  z-index: -1;
}
.practice-box-wrapper {
  @media(min-width: 992px) {
      margin-top: -120px;
  }
  @media(max-width: 992px) {
      margin-top: -20px;
  }
  position: relative;
  z-index: 10;
  .practice-box-grid {
    @media(min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    @media(max-width: 1200px) {
      margin-left: -40px;
    }
    list-style: none;
  }
  .practice-box-wrap:last-of-type {
    a, p {
      display: none;
    }
  }
  .practice-box-wrap {
    margin: 1%;
    @media(max-width: 992px) {
      margin-bottom: 16px !important;
    }
    a {
      color: #C57916;
      font-size: 15px;
      font-family: urw-din, sans-serif;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      @media(max-width: 576px) {
        font-size: 12px;
      }
      .orangeLine {
        margin-top: 3px;
        height: 2px;
        background-color: #C57916;
        width: 60px;
        transition: .3s ease all;
      }
  }
  a:hover {
    text-decoration: none;
  }
  a:hover .orangeLine {
    width: 103px;
  }
  }
  img.circleBlue {
    position: absolute;
    right: calc(24% - 120px);
    bottom: -80px;
    z-index: 555;
  }
  .circle-blue-wrapper {
    @media(max-width: 1200px) {
      display: none;
    }
    p {
      max-width: 170px;
      text-align: center;
      position: absolute;
      @media(min-width: 992px) {
        right: calc(25.7% - 115px);
        bottom: -60px;
      }
      @media(max-width: 992px) {
        right: calc(25% - 100px);
        bottom: -50px;
        display: none;
      }

      z-index: 777;
      font-size: 20px;
      font-family: "freight-text-pro";
      font-style: normal;
    }
  }
  .practice-box {
    padding: 7%;
    @media(min-width: 1200px){
      height: 317px;
      min-width: 481px;
      width: 100%;
      max-width: 481px;
    }
    width: 100%;
    background-color: #EFF0ED;
    h2 {
      color: #10546B;
      font-weight: 400;
      font-size: 30px;
      @media(max-width: 576px) {
        font-size: 24px;
      }
    }
    p {
      color: #262626;
      font-family: "freight-text-pro";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
    }
    a:hover {
      text-decoration: none;
    }
    img {
      margin-top: -75px;
    }
  }
  .practiceBottom {
    position: absolute;
    bottom: 0;
    right: 16%;
  }
  .practice-box-wrap:nth-child(8) .practice-box {
    background: url("../images/practiceBottom.png") no-repeat center;
    background-size: cover;
    .practiceTitle {
      display: none;
    }
    @media(max-width: 1200px) {
    display: none;
    }
  }
}
.bottom-callout {
  @media(min-width: 1200px) {
  padding: 2%;
  }
  @media(max-width: 1200px) {
  padding: 6%;
  }
}
.p12 {
  position: relative;
}
}
