/**
* Reset
* - Prevents Themes and other Plugins from applying their own styles to our full screen search
*/
// .search {
//   .page-title {
//     background-color: #10546B;
//     height: 416px;
//     margin-top: -100px;
//     // padding-top: 80%;
//   }
// }
.search-no-results {
  padding-top: 180px;
  padding-bottom: 50px;
  @media(max-width: 576px) {
    padding-top: 110px;
  }
  .not-found {
    padding-left: 15%;
    padding-bottom: 50px;
    @media(max-width: 576px) {
      padding-left: 8%;
      padding-right: 8%;
    }
  }
}
.search {
  .links-wrap {
    padding-top: 5%;
    position: relative;
    padding-bottom: 30px;
  }
}

.search-top-content {
  background-color: #10546B;
  padding-top: 170px;
  padding-bottom: 20px;
  @media(max-width: 576px) {
    padding-top: 110px;
  }
  h1 {
    font-size: 24px;
    color: #D5E8EC;
    span {
      font-size: 36px;
      @media(max-width: 576px){
        font-size: 30px;
      }
    }
  }
}

.search-results {
  min-height: 700px !important;
  .site-main {
    background: #EFF0ED;
    background-size: cover;
    margin-bottom: 60px;
    padding-bottom: 60px;
  }
  .entry-footer {
    display: none;
  }
  .entry-header {
    padding-bottom: 2% !important;
    .read {
      color: #262626;
      font-size: 24px;
      @media(max-width: 576px) {
        font-size: 20px;
      }
    }
  }
  .nav-links {
    display: block;
    margin: 0 auto;
    margin-top: 60px !important;
    // margin-bottom: 20px !important;
  }
  article {
    border-bottom: 1px solid #1A5E75;
    padding-bottom: 2% !important;
    p {
      word-spacing: normal;
      a {
        color: #D5913E;
        font-size: 13px;
        font-family: urw-din, sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        padding-left: 3px    ;
        text-decoration: underline;
        word-break: break-all;
        @media(max-width: 576px){
          line-height: 50px;
        }
      }
    }
  }
}
#full-screen-search,
#full-screen-search button,
#full-screen-search button.close,
#full-screen-search form,
#full-screen-search form div,
#full-screen-search form div input,
#full-screen-search form div input.search {
  font-family: "freight-text-pro";
  font-style: normal;
  font-weight: 400;
    background:none;
    border:0 none;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    float:none;
    font-size:100%;
    height:auto;
    letter-spacing:normal;
    list-style:none;
    outline:none;
    position:static;
    text-decoration:none;
    text-indent:0;
    text-shadow:none;
    text-transform:none;
    width:auto;
    visibility:visible;
    overflow:visible;
    margin:0;
    padding:0;
    line-height:1;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -ms-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
    -webkit-appearance:none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
}

/**
* Background
*/
#full-screen-search {
    visibility: hidden;
    opacity: 0;
    z-index: 999998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #10546B !important;

    /**
    * Add some CSS3 transitions for showing the Full Screen Search
    */
     transition: opacity 0.5s linear !important;
}

/**
* Display Full Screen Search when Open
*/
#full-screen-search.open {
    /**
    * Because we're using visibility and opacity for CSS transition support,
    * we define position: fixed; here so that the Full Screen Search doesn't block
    * the underlying HTML elements when not open
    */
    position: fixed;
    visibility: visible;
    opacity: 1;
}

/**
* Search Form
*/
#full-screen-search form {
    position: relative;
    width: 100%;
    height: 100%;
}

/**
* Close Button
*/
#full-screen-search button.close {
    position: absolute;
    z-index: 99990 !important;
    top: 30px;
    right: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #EFF0ED;
    cursor: pointer;
    font-family: urw-din, sans-serif;
    font-style: normal;

}

// @keyframes fadeIn {
//   0%{
//     opacity: 0;
//     // -webkit-transform: translate3d(100%, 0, 0);
//     // transform: translate3d(100%, 0, 0);
//   }
//
//   100% {
//     opacity: 1;
//     -webkit-transform: none;
//     transform: none;
//   }
// }

/**
* Search Form Div
*/
#full-screen-search form div {
    position: absolute;
    width: 50%;
    height: 100px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -25%;
}

/**
* Search Form Input Placeholder Color
*/
#full-screen-search form div input::-webkit-input-placeholder {
  font-family: "freight-text-pro" !important;
  font-style: normal;
  font-weight: 400;
  color: #363636;
}
#full-screen-search form div input:-moz-placeholder {
  font-family: "freight-text-pro" !important;
  font-style: normal;
  font-weight: 400;
    color: #363636;
}
#full-screen-search form div input::-moz-placeholder {
  font-family: "freight-text-pro" !important;
  font-style: normal;
  font-weight: 400;
    color: #363636;
}
#full-screen-search form div input:-ms-input-placeholder {
  font-family: "freight-text-pro" !important;
  font-style: normal;
  font-weight: 400;
    color: #363636;
}

/**
* Search Form Input
*/
#full-screen-search form div input {
    width: 100%;
    height: 100px;
    background: #eee;
    padding: 15px;
    font-size: 30px;
    letter-spacing: 1.5px;
    /* text-transform: uppercase; */
    line-height: 40px;
}
