.page-template-template-settlements-and-verdicts {
  #header {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
  }
  @media(min-width: 1200px) {
    padding-top: 180px;
  }
  @media(max-width: 1200px) {
    padding-top: 110px;
  }
  .top-header {
    font-size: 14px;
    color: #606060;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  .news-wrap {
    padding-bottom: 60px;
    padding-top: 60px;
    height: auto;
    background-color: white;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .single-verdict {
    @media(min-width: 1200px) {
      margin: 2%;
      width: 46%;
      height: auto;
    }
    width: 100%;
    height: auto;
    border-bottom: 1px solid #262626;
    h2 {
      font-size: 14px !important;
  }
  p {
    font-size: 24px;
    color: #262626;
  }
}
.verdict-content {
  font-size: 24px;
  color: #262626;
}
}
