.single-attorneys {
  .page-wrapper {
    position: relative;
    overflow: hidden;
  }
  #header {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
  }
  .hero-single-attorney {
    @media(min-width: 767px){
      overflow: hidden ;

    }
    // .whiteOverlay {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 45%;
    //   height: 100%;
    // }
    margin-bottom: 0px;
    @media(min-width: 1700px) {
      max-height: 809px;
    }
    @media(min-width: 1280px) and (max-width: 1700px) {
    height: auto;
    max-height: 709px;
    }
    @media(min-width: 1024px) and (max-width: 1280px) {
      max-height: 609px;
      height: auto;
    }
    @media(max-width: 1024px) and (min-width: 992px) {
      max-height: 509px;
      height: auto;
    }
    @media(max-width: 992px) and (min-width: 767px) {
      max-height: 409px;
      height: auto;
    }
    @media(max-width: 767px){
      max-height: 330px;
      height: auto;
    }
    width: 100%;
    img.attorneyHero {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      display: block;
      z-index: -1;
      @media(max-width: 767px) {
        padding-top: 60px;
      }
    }
  }
  // .attorney-top-content {
  //   position: absolute;
  //   top: 200px;
  //   @media(max-width: 1200px) and (min-width: 767px) {
  //     top: 120px;
  //   }
  //   // left: 10%;
  //   margin: 5%;
  //   padding: 5%;
  //   z-index: 99;
  //   @media(max-width: 767px) and (min-width: 576px) {
  //     top: 400px;
  //     height: 200px;
  //     padding-top:  40px;
  //     margin-bottom: 60px;
  //     padding-left: 9%;
  //     background-color: white;
  //     width: 100%;
  //     margin-top: -24px;
  //   }
  //   @media(max-width: 576px) and (min-width: 500px) {
  //     top: 370px;
  //     // left: 4%;
  //   }
  //   @media(max-width: 576px){
  //     background-color: white;
  //     padding: 3%;
  //     padding-bottom: 60px;
  //     width: 100%;
  //     height: 200px;
  //     margin-top: -40px;
  //     padding-top: 60px;
  //     margin: 0px !important;
  //   }
  //   @media(max-width: 500px) and (min-width: 400px) {
  //     top: 330px;
  //     left: 0;
  //   }
  //   @media(max-width: 400px) {
  //     top: 280px;
  //     left: 0px;
  //   }
  //   p {
  //     color: #10546B;
  //     font-size: 20px;
  //     font-family: "freight-text-pro";
  //     font-style: normal;
  //     margin-top: -20px;
  //   }
  // }
  .attorney-practice-area-box {
    @media(min-width: 992px) {
      margin-top: -160px;
    }
    @media(max-width: 992px) and (min-width: 767px) {
      margin-top: -90px;
    }
    @media(max-width: 767px) and (min-width: 350px) {
      margin-bottom: 20px;
      // margin-top: 50%;
    }
    // @media(max-width: 350px){
    //   margin-top: 70%;
    // }
    min-height: auto;
    max-width: 100%;
    width: 100%;
    background-color: #032C3E;
    padding: 5%;
    height: auto;

    h1 {
      color: #BDDEE5;
      font-size: 14px;
      letter-spacing: 1.5px;
      font-weight: 600;
      text-transform: uppercase;
      padding-left: 5%;
    }
  ul {
    list-style: none !important;
    padding-left: 5%;
    li {
      padding-top: 1.5%;
      a {
        color: white;
        font-size: 16px;
        // text-transform: capitalize;
        font-family: urw-din, sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1.88px;
        // padding-top: 12px;
        transition: 1s ease all;
      }
    }
    li:first-child {
      padding-top: 0px;
      margin-top: -10px;
    }
  }
  }
  .attorney-experience-box {
    padding-bottom: 20px !important;
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 20px;
    padding: 8%;
    @media(max-width: 576px) {
      padding-left: 5%;
    }
    .wrap p:last-of-type {
      padding-bottom: 18px;
      border-bottom: 1px solid #D5D5D5;
    }
    h2 {
      font-size: 14px;
      letter-spacing: 1.5px;
      line-height: 21px;
      text-transform: uppercase;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      line-height: 21px;
    }
  }
  .attorney-information-wrapper {
    position: relative;
    .grayback {
      background-color: #EFF0ED;
      position: absolute;
      top: -2px;
      left: 0;
      z-index: -1;
      height: 500px;
      width: 100%;
      // @media(max-width: 767px) {
      //   display: none;
      // }
    }

  }
  .attorney-information-box {
    max-width: 100%;
    width: 100%;
    @media(min-width: 992px) {
      min-height: 210px;
    }
    @media(max-width: 992px) and (min-width: 420px) {
      height: auto;
      padding-bottom: 20px;
      margin-top: -290px;
    }
    @media(max-width: 420px){
      height: auto;
      padding-bottom: 20px;
      margin-top: -230px;
    }
    height: auto;
    background-color: #D5E8EC;
    @media(min-width: 767px) {
      margin-top: -40px;
    }
    .attorney-top-content {
      padding-top: 5%;
      // padding-bottom: 3%;
      @media(min-width: 576px){
        padding-left: 40px;
      }
      @media(max-width: 576px){
        padding-left: 5%;
      }
      p {
        color: #10546B;
        font-size: 20px;
        font-family: "freight-text-pro";
        font-style: normal;
        margin-top: -20px;
      }
    }
    .attorney-contact {
      font-family: "freight-text-pro";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      padding-left: 40px;
      // padding-top: 2%;
      p:nth-child(n+2):nth-child(-n+4) {
        margin-top: -18px;
      }
      a {
        color: #262626;
        text-decoration: underline;
      }
      @media(max-width: 576px) {
        padding-left: 5% !important;
        padding-top: 4%;
        text-align: left;
      }
    }
    .vcard-wrap {
      @media(min-width: 576px) {
        padding-top: 50px;
      }
      @media(max-width: 576px) {
      padding-left: 5%;
        margin-top: 0px !important;
        padding-bottom: 3%;
      }
    }
    .vcard {
      color: #032C3E;
      font-size: 15px;
      text-transform: uppercase;
      font-family: urw-din, sans-serif;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 1.8px;
    img {
      width: 24px;
      height: auto;
      padding-right: 5px;
    }
    }

  }
  .attorney-profile {
    a {
      color: #10546b;
      text-decoration: underline;
      }
    background-color: white;
    // min-height: 736px;
    height: auto;
    padding: 5%;
    padding-bottom: 20px !important;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    p:first-of-type {
      color: #032C3E;
      font-size: 22px;
      padding-bottom: 10px;
    }
      @media(max-width: 767px) {
        padding: 2.5%;
      }
  }
  .quote-box-wrapper {
    min-height: 190px;
    width: 100%;
    height: auto;
    background-color: #10546B;
    margin-bottom: 40px;
    color: white;
    font-family: freight-text-pro, serif;
    font-style: normal;
    padding: 4%;
    @media(max-width: 767px) {
      margin-bottom: 5px;
    }
    h5 {
      color: #D5E8EC;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      padding-bottom: 10px;
    }
    p {
      color: white;
      font-size: 24px;
      font-weight: 400;
      @media(max-width: 576px) {
        font-size: 20px;
      }
    }
  }
  .latest-insights-wrapper {
    @media(max-width: 992px){
    min-height: auto;
    padding-top: 30px;
    padding-bottom: 100px;
    }
    min-height: 428px;
    height: auto;
    max-width: 94%;
    width: 100%;
    background-color: #EFF0ED;
    margin-bottom: 60px !important;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    h2 {
      color: #858585;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-align: center;
      padding: 2%;
      @media(max-width: 992px){
        font-size: 12px;
        padding-bottom: 10px;
      }
    }
    .blog-list-wrapper {
      width: 100%;
      .post-wrap {
        display: flex;
        flex-wrap: wrap;
      }
      .single-post {
        background-color: #032c3e;
        position: relative;
        @media(min-width: 992px){
          max-width: 31%;
        }
        @media(max-width: 767px) {
          margin: 2.5%;
        }
        width: 100%;
        min-height: auto;
        margin: 1%;
        .image  {
            width: 100%;
            min-height: 188px;
            overflow: hidden;
            position: relative;
            z-index: 2;
            .post-image-attorney {
              @media(min-width: 992px) {
                height:188px;
              }
              @media(max-width: 992px) {
                height: 222px;
              }
              width: 100%;
              background: url("../images/gradientFeatured2.png") no-repeat;
              background-size:  cover;
              position: relative;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              img {
                width: 100%;
                height: 100%;
                position: relative;
                top:  0;
                left: 0;
                z-index: -1;
              }
            }
          }
        .post-meta {
          .person img {
            margin: 5%;
            width: 45px;
            height: auto;
            border: 3px solid white;
            border-radius: 100%;
            @media(max-width: 767px){
            margin-top: 10px;
            }
          }
           position: absolute;
           bottom: 5%;
           left: 3%;
           z-index: 99;
          .post-title {
            color: white;
            font-size: 20px;
            padding-top: 20px;
            padding-bottom: 10px;
            line-height: 27px;
            margin: 1%;
            padding-right: 5%;
            transition: 1s ease;
            position: relative;
            z-index: 9;
          }
          .authorName {
            color: white;
            font-size: 13px;
            letter-spacing: 1.5px;
            font-family: urw-din, sans-serif;
            font-style: normal;
            font-weight: 400;
            text-transform: uppercase;
            // margin-top: 8px;
            text-align: left;
            margin-bottom: -6px;
          }
        }
      }
      a.title:hover {
        text-decoration: none !important;
      }
      .post-title:hover {
        text-decoration: underline;
      }
    }
  }
    .goldberg-button {
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin-left: -176px;
      @media(max-width: 767px){
        margin-left: -111px;
      }
    }
    @media(max-width: 767px) {
      .columnOne {
        order: 2;
      }
      .columnTwo {
        order: 1;
        @media(max-width: 767px) {
          margin-top: 50%;
        }
        @media(max-width: 350px) {
          margin-top: 68% !important;
        }
      }
    }
  }
