.single-articles {
  #header {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
  }
  @media(min-width: 992px){
    padding-top: 180px;
  }
  @media(max-width: 992px){
    padding-top: 110px;
  }
  h5 {
    font-size: 20px;
    color: #10546B;
  }
  .top-content {

    a {
      color: #10546B;
      text-decoration: underline;
    }
  }
.other-news-wrap {
  @media(min-width: 992px){
    padding-top: 40%;
  }
  @media(max-width: 992px){
    padding-top: 6%;
  }
  h2 {
    font-size: 14px;
    color: #606060;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    @media(min-width: 992px){
      padding-bottom: 6%;
    }
  }
  .icon-date {
    color: #262626;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-top: 10px;
  }
  .news-title {
    margin-top: -12px;
    border-bottom: 1px solid #1A5E75;
    padding-bottom: 4%;
    a {
      color: #262626;
      font-size: 14px;
    }
  }
}
.view-all {
  margin-top: 20px;
  @media(max-width: 576px) {
    bottom: 20px;
    padding-top: 10px;
  }
  a {
      color: #C57916;
  }
  max-width: 140px;
  width: 100%;
  font-size: 15px;
  font-family: urw-din, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  .orangeLine {
    margin-top: 3px;
    height: 2px;
    background-color: #C57916;
    width: 75px;
    transition: .3s ease all;
  }
}
a:hover {
text-decoration: none;
}
a:hover .orangeLine {
width: 130px;
}
}
