.page-template-template-news {
  #header {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
  }
  .page-wrapper {
    padding-bottom: 10%;
    padding-top: 140px;
    @media (max-width: 576px){
      padding-top: 100px;
    }
    .postH h1:hover {
      text-decoration: none;
      color: #C57916 !important;
    }
    .post-meta a:hover {
      text-decoration: none;
      color: #C57916 !important;
    }
    .postH .post-title:hover {
      text-decoration: none;
      color: #C57916 !important;
    }
  }
  .top-content {
    // min-height: 700px;
    h3 {
      text-align: center !important;
      font-size: 14px;
      color: #606060;
      font-family: urw-din, sans-serif;
      font-style: normal;
      font-weight: 400;
      text-transform:uppercase;
      letter-spacing: 1.5px;
      margin-bottom: 3.8%;
    }
  }
  .featured-post {
    position: relative;
    .post-image {
      background: url("../images/gradientFeatured.png") no-repeat;
      background-size: cover;
      img {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
    .post-title {
      @media(max-width: 576px) {
          padding-bottom: 9px;
      }
    }
    .post-meta {
      position: absolute;
      z-index: 2;
      bottom: 5%;
      left: 5%;
      width: 60%;
      @media (max-width: 992px){
        bottom: 5%;
        width: 86%;
      }
      a {
        color: white;
        transition: .1s ease all;
      }
      h1 {
        color: white;
        font-weight: 400;
        transition: .1s ease all;
        @media (max-width: 576px){
          font-size: 20px;
          line-height: normal;
        }
      }
      .authorName {
        font-size: 13px;
        letter-spacing: 1.5px;
        color: white;
        text-transform: uppercase;
        font-family: urw-din, sans-serif;
        font-style: normal;
        font-weight: 400;
        float: left;
        margin-bottom: -6px;
      }
    }
    .post-categories a {
      text-transform: uppercase;
      padding-right: 5px;
      font-size: 12px;
      letter-spacing: 1.3px;
      @media(max-width: 576px){
        display: none;
      }
    }
    .post-date {
      text-transform: uppercase;
      color: white;
      @media(min-width: 1200px){
      margin-bottom: -4px;
    }
    @media(max-width: 1200px){
    margin-bottom: 2px;
  }
    }
    .row-author {
      padding-top: 10px;
      @media(max-width: 576px) {
        margin-top: -20px;
      }
      @media(max-width: 400px) {
        display: none;
    }
  }
    .author {
      img {
        max-width: 66px;
        height: auto;
        border-radius: 100%;
        border: 4px solid white;
        @media(max-width: 576px) {
        max-width: 50px;
        }
      }
    }
  }
  .blog-section {
    margin-top: 40px;
    .blog-list-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      position: relative;
      .single-post {
        @media(min-width: 992px){
          max-width: 100%;
          margin: 2%;
        }
        @media(min-width: 576px) and (max-width: 992px){
          max-width: 48%;
          margin: 1%;
        }
        width: 100%;
        height: auto;
        margin-top: 0px !important;
        position: relative;
        .image  {
            height: 215px;
            width: 100%;
            background: url("../images/quilt1.png") no-repeat !important;
            background-size: cover;
            img {
              width: 100%;
              height: auto;
              min-height: 242px;
            }
          }
        .post-meta {
          background-color: white;
          height: auto;
          margin-left: 15px;
          width: 100%;
          min-height: 200px;
          @media(min-width: 992px){
            max-width: 100%;
          }
          @media(min-width: 576px) and (max-width: 992px){
            margin-top: -60px;
          }
          .post-date {
            color: #262626;
            font-size: 14px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            padding-left: 60px;
            padding-top: 4px;
          }
          .post-title {
            color: #262626;
            font-size: 20px;
            padding-top: 20px;
            padding-bottom: 10px;
            margin: 1%;
            padding-right: 1.5%;
          }
          .post-categories a {
            color: #878787;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
          }

        }
        .person img {
          position: absolute;
          top: 182px;
          left: 0;
          padding-bottom: 10px;
          width: 51px;
          height: 61px;
          border-radius: 100%;
          @media(min-width: 576px) and (max-width: 992px){
            top: 142px;
          }
        }
      }
    }
    .columnSwitch1 {
      @media(max-width:769px){
        display: none;
      }
    }
    }
    .categories-wrap {
      width: 100%;
      max-width: 94%;
      margin: 0 auto;
      height: auto;
      min-height: 235px;
      background-color: #D5E8EC;
      padding: 4%;
      @media(max-width:576px){
        display: none;
      }
      h4 {
        color: #032C3E;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }
      ul:nth-child(2) {
        columns: 2;
        a {
          color: #262626;
          font-size: 16px;
          font-family: urw-din, sans-serif;
          font-style: normal;
          font-weight: 400;
          letter-spacing: 1.5px;
          line-height: 20px;
        }
      }
    }
    .latest-news-wrap {
      position: relative;
      width: 100%;
      max-width: 94%;
      margin: 0 auto;
      min-height: 528px;
      height: auto;
      background-color: #10546B;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 7%;
      padding-top: 40px !important;
      @media(max-width:576px){
        margin-top: -30px;
      }
      .articles-wrap {
        list-style: none;
        margin-left: -40px;
        li {
          padding-bottom: 20px;
          @media(min-width: 576px) {
            padding-right: 1%;
            margin-top: 5px;
          }
          margin-left: 0px !important;
          border-bottom: 1px solid #1A5E75;
          a {
            color: white;
            font-size: 18px;
            line-height: 25px;
            transition: .3s ease all;
            @media(max-width:576px){
              font-size: 16px;
            }
          }
          .news-link:hover {
            text-decoration: underline;
          }
        }
      }
      h2 {
        color: #CBDFE5;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-family: urw-din, sans-serif;
        font-style: normal;
        font-weight: 400;
        padding-bottom: 10px;
      }
      a.view-all {
        @media(max-width: 576px) {
          bottom: 20px;
          padding-top: 10px;
        }
        position: absolute;
        bottom: 7%;
        left: 8%;
        max-width: 140px;
        width: 100%;
        color: #C57916;
        font-size: 15px;
        font-family: urw-din, sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        .orangeLine {
          margin-top: 3px;
          height: 2px;
          background-color: #C57916;
          width: 75px;
          transition: .3s ease all;
        }
    }
    a:hover {
      text-decoration: none;
    }
    a:hover .orangeLine {
      width: 130px;
    }
      .social-icons-row {
        ul {
          list-style: none;
          position: absolute;
          bottom: 2%;
          right: 5%;
          li {
            display: inline-block;
            padding: 1px;
            @media(max-width: 576px) {
              margin: 4px;
              padding: 0px;
            }
            img {
              width: 17px;
              height: auto;
            }
          }
        }
      }
    }

  .blog-section-two {
    padding-top: 20px;
    position: relative;
    .more-button {
      color: #4a4a4a!important;
      font-size: 20px;
      text-align: center;
    }
    #nav-posts {
      .nextOne a {
        margin: 0 auto;
        display: block;
      }
      a {
        color: #4a4a4a!important;
        font-size: 20px;
        text-align: center;
        padding-top: 3%!important;
      }
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        li {
          padding-right:12px;
          padding-left: 0PX;
        }
      }
    }
    .blog-list-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .single-post {
        @media(min-width: 1200px){
          max-width: 30%;
        }
        @media(max-width: 1200px) and (min-width: 768px){
          max-width: 48%;
        }
        @media(max-width: 767px) {
          margin-bottom: 4% !important;
        }
        width: 100%;
        height: auto;
        margin: 1%;
        position: relative;
        .image  {
            height: 171px;
            width: 100%;
            background: url("../images/quilt1.png") no-repeat !important;
            @media(min-width: 1200px){
              background-size: auto !important;
            }
            @media(max-width: 1200px) and (min-width: 576px){
              background-size: auto !important;
            }
            @media(max-width: 576px){
              background-size: auto !important;
            }
            img {
              width: 100%;
              height: auto;
            }
          }
        .post-meta {
          background-color: white;
          height: auto;
          margin-left: 15px;
          width: 100%;
          min-height: 200px;
          @media(min-width: 767px){
            max-width: 100%;
          }
          .post-date {
            color: #262626;
            font-size: 14px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            padding-left: 60px;
            padding-top: 4px;
          }
          .post-title {
            color: #262626;
            font-size: 20px;
            padding-top: 20px;
            padding-bottom: 10px;
            margin: 1%;
            padding-right: 1.5%;
          }
          .post-categories {
            color: #878787;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            padding-right: 1.5%;
            padding-left: 1%;
          a {
            color: #878787;
          }
        }

        }
        .person img {
          position: absolute;
          top: 152px;
          left: 0;
          width: 51px;
          height: auto;
          border-radius: 100%;
        }
      }
    }
    .page-link {
      background: none !important;
      border: none !important;
      padding: 0px 10px;
      color: #032C3E !important;
      text-align: center;
    }
  }
  .verdict-slider-section {
    position: relative;
    width: 100%;
    padding-bottom: 30px;
    @media(min-width: 768px){
      margin-top: 5%;
    }
    h2 {
      text-align: center;
      color: #262626;
      font-size: 14px;
      text-transform: uppercase;
      padding-top: 40px;
      padding-bottom: 10px;
      letter-spacing: 1.5px;
    }
    .verdict-slider-box {
      @media(max-width: 420px) {
        min-height: 560px !important;
      }
      @media(max-width: 576px) {
        max-width: 100%;
        left: 0;
        margin-left: 0px;
        min-height: 530px;
      }
      @media(min-width: 1200px) {
        max-width: 978px;
        margin-left: -489px;
      }
      max-width: 64%;
      margin-left: -32%;
      width: 100%;
      min-height: 420px;
      height: auto;
      background: url("../images/sliderBack.png") no-repeat center;
      background-size: cover;
      position: absolute;
      left: 50%;
      top: 10px;
      z-index: -1;
    }
   .single-verdict-slide {
     position: relative;
      max-width: 520px;
      width: 100%;
      min-height: 220px;
      height: auto;
      margin: 10px;
      background-color: rgba(239,240,237, 0.7);
      @media(max-width: 576px) {
        min-height: 320px;
      }
      .verdict-date {
        color: #262626;
        font-size: 50px;
        padding-top: 25px;
        padding-left: 10px;
        // background: url("../images/slider-oval.png") no-repeat center top;
        h1 {
          padding-top: 30px !important;
          padding: 50px 10px;
          border-radius: 100%;
          text-align: center;
          background: url("../images/slider-oval.png") no-repeat center;
        }
      }
      .verdict-content {
        margin-top: 30px;
        color: #262626;
        font-size: 20px;
        line-height: 27px;
        // padding-right: 10px;
        @media(max-width: 576px) and (min-width: 420px) {
          font-size: 18px;
          padding: 3%;
          text-align: center;
          max-width: 72%;
          width: 100%;
          margin: 0 auto;
        }
        @media(max-width: 420px) {
          max-width: 54%;
          margin: 0 auto;
          text-align: center;
          font-size: 16px;
        }
      }
    }
    .slick-slide.slick-active {
      background-color: white !important;
    }
    .view-all {
      margin: 0 auto;
      display: block;
      max-width: 76px;
      width: 100%;
      padding-top: 3%;
      padding-bottom: 3%;
      @media(max-width: 400px) {
        padding-top: 8%;
      }
      a {
        color: #C57916;
        font-size: 15px;
        font-family: urw-din, sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        .orangeLine {
          margin-top: 3px;
          height: 2px;
          background-color: #C57916;
          width: 75px;
          transition: .3s ease all;
        }
    }
    a:hover {
      text-decoration: none;
    }
    a:hover .orangeLine {
      width: 100px;
    }
    margin-bottom: 20px;
    }

    /* Dots */
    .slick-dotted.slick-slider
    {
        margin-bottom: -10px;
    }

    .slick-dots
    {
        // position: absolute;
        // // bottom: -25px;
        //
        // display: block;

        width: 100%;
        padding: 0;
        margin: 0;

        list-style: none;

        text-align: center;
    }
    .slick-dots li
    {
        position: relative;

        display: inline-block;

        width: 18px;
        height: 18px;
        margin: 0 1px;
        padding: 0;
        // margin-top: 30px;

        cursor: pointer;
    }
    .slick-dots li button
    {
        font-size: 0;
        line-height: 0;

        display: block;

        width: 22px;
        height: 20px;
        padding: 3px;

        cursor: pointer;

        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
    }
    .slick-dots li button:hover,
    .slick-dots li button:focus
    {
        outline: none;
    }
    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before
    {
        opacity: 1;
    }
    .slick-dots li button:before
    {
        font-family: 'slick';
        font-size: 22px;
        line-height: 13px;

        position: absolute;
        top: 0px;
        left: 0;

        width: 10px;
        height: 10px;

        content: '○';
        background-color: white;
        border-radius: 100%;
        text-align: center;

        opacity: 1;
        // color: black;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .slick-dots li.slick-active button:before
    {
        opacity: 1;
        color: #C57916;
        content: '•';
        font-size: 32px;
        margin-top: -1px;
        background-color: transparent !important;
    }
  }
  .row-page-links {
    a {
      // @media(max-width: 576px) {
      //   bottom: 20px;
      //   padding-top: 10px;
      // }
      margin-bottom: 10px;
      text-align: center;
      color: #C57916;
      font-size: 15px;
      font-family: urw-din, sans-serif;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      .orangeLine {
        margin-top: 3px;
        height: 2px;
        background-color: #C57916;
        width: 75px;
        transition: .3s ease all;
        margin-bottom: 10px;
      }
  }
  a:hover {
    text-decoration: none;
  }
  a:hover .orangeLine {
    width: 130px;
  }
  }
  }
