.page-template-template-latest-news {
  .page-wrapper {
    padding-bottom: 100px;
    h3 {
      font-size: 14px;
      color: #606060;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-family: urw-din,sans-serif;
      font-style: normal;
      font-weight: 400;
    }
    .row-page-links {
      ul {
        display: flex;
        justify-content: center;
      }

     a {
      background: 0 0!important;
      border: none!important;
      padding: 0 10px;
      color: #032c3e!important;
      text-align: center !important;
      display: block;
      margin: 0 auto;
    }
    }
  }
  #header {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
  }
  @media(min-width: 992px) {
      padding-top: 180px;
  }
  @media(max-width: 992px) {
      padding-top: 110px;
  }
  .news-wrap {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
  }
  .single-news {
    padding-bottom: 2%;
    border-bottom: 1px solid #1A5E75;
    margin: 1%;
    @media(min-width: 992px) {
      width:46%;
    }
    @media(max-width: 992px) {
      width: 100%;
      margin-top: 12px !important;
    }
    a {
      color: #262626;
      font-size: 24px;
      padding-top: 1%;
    }
    .icon-date {
      color: #262626;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      margin-bottom: 0px;
    }
  }
}
