.page-id-9 {
  font-family: "freight-text-pro";
  font-style: normal;
  font-weight: 400;
  .top-section {
    background: url("../images/attorneysBack.jpg");
    padding-top: 180px;
    font-family: "freight-text-pro";
    font-style: normal;
    font-weight: 400;
    text-align: center;
    min-height: 660px;
    @media(max-width: 767px) {
      padding-top: 140px;
    }
    @media(max-width: 350px) {
       padding-bottom: 8%;
       padding-top: 140px;
    }
    h1 {
      width: 48%;
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;
      @media(max-width: 768px) {
        width: 96%;
      }
    }
    h3 {
      text-align: center !important;
      // padding:2%;
      font-size: 14px;
      color: #606060;
      font-family: urw-din, sans-serif;
      font-style: normal;
      font-weight: 400;
      text-transform:uppercase;
      letter-spacing: 1.5px;
    }
    img {
      margin-top: -30px;
    }
    p {
      @media(min-width: 992px) {
          max-width: 62%;
      }
      width: 100%;
      margin: 0 auto;
      padding: 2%;
      padding-top: 5px !important;
    }
  }
  .attorneys-list-wrapper {
    @media(min-width: 767px) {
       margin-top: -90px;
    }
    @media(max-width: 767px) {
       margin-top: -40px;
    }
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    a.attorneyLink {
      transition: .2s ease all;
    }
    a:hover img {
      border-radius: 100%;
    }
    a:hover h2 {
      color: #C57916 !important;
    }
    a:hover {
      text-decoration: none;
    }
    .single-attorney:nth-of-type(9) {
      background: url("../images/circle-back.png") no-repeat;
      background-size: cover;
      img {
      transition: .2s ease all;
       max-width: 216px;
       width: 100%;
       height: auto;
       margin: 0 auto;
       display: block;
       @media(max-width: 992px) {
         margin-top: 10px;
     }
     @media(min-width: 992px) {
       margin-top: 30px;
   }
   }
     h2 {
       width: 60%;
       text-align: center;
       color: #262626;
       line-height: 30px;
       margin: 0 auto;
       @media(min-width: 992px) {
        font-size: 24px !important;
        margin-top: -150px !important;
       }
       @media(max-width: 992px) {
         font-size: 20px !important;
         margin-top: -150px !important;
       }
       @media(max-width: 992px) and (min-width:576px) {
         margin-top: -140px !important;
       }
       @media (max-width: 576px) {
         font-size: 16px !important;
         padding-top: 10% !important;
         width: 70%;
       }
     }
     a:hover h2 {
       color: #262626 !important;
       cursor: not-allowed !important;
       text-decoration: none;
       pointer-events: none !important;
     }
     .attorneyLink:hover {
         pointer-events: none !important;
        cursor: not-allowed !important;
     }
     .attorneyLink  {
       cursor: not-allowed !important;
       text-decoration: none;
       pointer-events: none !important;
     }
    }
    .single-attorney {
      margin-top: 15px;
      @media(min-width: 768px) {
        max-width: 25%;
      }
      @media(max-width: 767px) {
        max-width: 50%;
      }
      width: 100%;
      img {
        width: 100%;
        height: auto;
        padding: 3.5%;
        transition: 1s ease-out all;
      }
      .attorney-name {
        margin: 0 auto;
        display: block;
        padding: 2%;
        h2 {
          color: #262626;
          font-size: 20px;
          text-align: center;
          @media(max-width: 767px) {
             font-size: 16px;
             padding-top: 6px;
          }
        }
      }
    }
  }
  .bottom-callout-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .attorneys-callout {
    height: 222px;
    max-width: 531px;
    width: 100%;
    background: url("../images/attorneysCallout.jpg") no-repeat;
    float: right;
    background-size: contain;
    margin-bottom: 6%;
    .callout-wrapper {
      padding-top: 18%;
      padding-left: 30px;
      @media(max-width: 576px){
        padding-left: 3%;
      }
      a {
        color: #032C3E;
        font-size: 30px;
        font-family: freight-text-pro, serif;
        font-style: italic;
        font-weight: 400;
        // margin-top: 60px;
        @media(max-width: 576px){
          font-size: 22px;
        }
        .orangeLine {
          margin-top: 6px;
          height: 3px;
          background-color: #C57916;
          width: 14%;
          transition: .3s ease all;
        }
        }
        a:hover {
          text-decoration: none;
        }
        a:hover .orangeLine {
          width: 32%;
      }
      }
    }
    }
