.page-template-template-referral-page {
  .top-wrap {
    background: url("../images/contactBack.jpg");
  }
  .top-section {
    padding-top: 180px;
    font-family: "freight-text-pro";
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding-bottom: 100px;
    @media(max-width: 767px) {
      padding-top: 140px;
    }
    h1 {
      width: 72%;
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;
      @media(max-width: 767px) {
        width: 90%;
      }
    }
    h3 {
      text-align: center !important;
      font-size: 14px;
      color: #606060;
      font-family: urw-din, sans-serif;
      font-style: normal;
      font-weight: 400;
      text-transform:uppercase;
      letter-spacing: 1.5px;
      padding-bottom: 15px;
    }
    img {
      margin-top: -30px;
    }
    p {
      @media(min-width: 992px) {
          max-width: 74%;
      }
      width: 100%;
      margin: 0 auto;
      padding: 2%;
      padding-top: 5px !important;
      color: #4A4A4A;
      font-size: 17px;
      line-height: 26px;
    }
  }
  .middle-section {
    .image-wrap{
      max-width: 380px;
      min-height: 251px;
      width: 100%;
      height: auto;
      position: relative;
      top: -140px;
      left: 3%;
      @media (max-width: 1200px){
        opacity: 0;
      }
      .image1 {
        position: absolute;
        top: 120px;
        left: 12%;
        z-index: 6;
      }
      .image5 {
        position: absolute;
        bottom: 14%;
        right: 21%;
        z-index: 3;
      }
      .image3 {
        position: absolute;
        top: 10px;
        right: 22%;
        z-index: 4;
      }
      .image4 {
        position: absolute;
        top: -30px;
        left: 15%;
        z-index: 5;
        max-width: 202px;
        height: auto;
        border-radius: 100%;
      }
    }
    .blue-box-wrap {
      @media(min-width: 992px){
        max-width: 86%;
        width: 100%;
        margin-bottom: 50px;
        padding-top: 100px !important;
      }
      max-height: 428px;
      height: auto;
      background-color: #10546B;
      margin: 0 auto;
      display: block;
      padding: 7%;
      margin-top: -280px !important;
      position: relative;
      z-index: 1;
      max-width: 94%;
      margin-bottom: 30px;
      p {
        font-family: "freight-text-pro";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        color: white;
        line-height: 42px;
        text-align: center;
        @media(max-width: 767px) and (min-width: 450px){
          font-size: 24px;
          line-height: normal;
        }
        @media(max-width: 450px){
          font-size: 20px;
          line-height: normal;
        }
      }
    }
  }
  .third-section {
    .body-content {
      @media(min-width: 992px){
        max-width: 70%;
        width: 100%;
      }
      margin: 0 auto;
      padding-bottom: 30px;
      p {
        text-align: center;
        padding: 2%;
        padding-bottom: 0px !important;
      }
      a {
        max-width: 166px;
        margin: 0 auto;
        display: block;
        color: #C57916;
        font-size: 13px;
        font-family: urw-din, sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        margin-bottom: 20px;
        .orangeLine {
          margin-top: 6px;
          height: 2px;
          background-color: #C57916;
          width: 60px;
          transition: .3s ease all;
        }
    }
    a:hover {
      text-decoration: none;
    }
    a:hover .orangeLine {
      width: 160px;
    }
    }
    .backImage {
      margin-bottom: 50px !important;
      max-width: 1200px;
      width: 100%;
      height: auto;
      margin: 0 auto;
      img {
        width: 100%;
        height:: auto;
      }
    }
  }

}
