.page-template-template-practice-category {
  #header {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
  }
  .page-wrapper {
    font-family: "freight-text-pro";
    font-style: normal;
    font-weight: 400;
    .container-wrapper {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
      max-width: 1400px;
      @media(max-width: 992px){
        max-width: 400px;
        width: 90%;
      }
      .oval6 {
        position: absolute;
        bottom: 3%;
        right: 10%;
        @media (max-width: 992px) {
          width: 20%;
          height: auto;
          bottom: 10% !important;
        }
      }
    }
    .button-wrapper {
      position: relative;
      z-index: 999;
      top: 30px;
    }
    .top-image-wrapper {
      @media(min-width: 992px) {
        min-height: auto;
        max-width: 500px;
        width: 100%;
      }
      .oval-small-screen {
        display: none;
      }
      position: relative;
      top: 100px;
      left: -20px;
      .oval-large {
        // @media(max-width: 1200px) {
        //  display: none;
        // }
      }
      .oval1 {
        position: absolute;
        top: 0;
        left: 16%;
        max-width: 303px;
        height: auto;
        width: 100%;
        border-radius: 100%;
        @media (max-width: 992px) {
          max-width: 176px;
          left: 29%;
          top: -20px;
        }
      }
      .oval2 {
        position: absolute;
        top: -5px;
        left: 0;
        z-index: -1;
        @media (max-width: 992px) {
          max-width: 70px;
          left: 14%;
          // top: -20px;
        }
      }
      .oval3 {
        position: absolute;
        top: 230px;
        left: 60px;
        z-index: -1;
        @media (max-width: 992px) {
          max-width: 100px;
          left: 20%;
          top: 36px;
        }
      }
      .oval4 {
        position: absolute;
        top: 226px;
        left: 45px;
        z-index: 5;
        @media (max-width: 992px) {
          top: 50px;
          max-width: 48px;
          left: 20%;
        }
      }
      .oval5 {
        position: absolute;
        top: 35px;
        right: 85px;
        z-index: 5;
        @media (max-width: 992px) {
        right: 11%;
        top: 5px;
        }
      }


    }
    .top-content {
      @media(min-width: 992px) {
        width: 68%;
        padding-top: 260px;
      }
      @media(max-width: 992px) {
        padding-top: 290px;
        width: 96%;
      }
      padding-bottom: 20px;
      margin: 0 auto;
      h4 {
        font-size: 30px;
        color: #C57916;
        @media(max-width: 992px) {
        font-size: 24px;
        }
      }
      p {
        font-size: 20px;
        color: #4A4A4A;
        width: 100%;
        margin: 0 auto;
        padding: 3%;
        padding-top: 0px !important;
        @media(max-width: 992px) {
        max-width: 100%;
        padding: 1%;
        }
      }
      h1 {
        @media(max-width: 992px) {
          line-height: normal !important;
          width: 100%;
        }
        @media(max-width: 992px) {
          line-height: normal !important;
          width: 100%;
        }
        @media(max-width: 576px){
          font-size: 28px;
        }
      }
      .breadcrumbs {
        margin-bottom: 25px;
      }
    }
    .practice-history {
      @media(min-width: 992px) {
        width: 84%;
        margin: 0 auto;
      }
      @media(max-width: 992px) and (min-width: 576px) {
        width: 92%;
        margin: 0 auto;
        font-size: 22px;
      }
      @media(max-width: 576px) {
        font-size: 18px;
        margin-top: 60px !important;
      }
      color: #4A4A4A;
      margin-top: 100px !important;
      p {
        text-align: center;
        font-size: 18px;
      }
      p:first-child {
        font-size: 26px;
        @media(max-width: 576px) {
          font-size: 18px;
          padding: .8%;
        }
      }
      h5 {
        font-size: 18px;
        line-height: normal;
        text-align: center;
      }
      ul {
        list-style: none;
        text-align: left;
        columns: 2;
        padding-top: 15px;
        padding-bottom: 15px;
        li {
          font-size: 20px !important;
          color: #10546B;
          padding: .5%;
        }
      }
    }
    .practice-rules {
      margin-top: 3%;
      margin-bottom: 3%;
      .list-wrap {
        @media(min-width: 1200px) {
          columns: 3;
          -webkit-columns: 3;
           -moz-columns: 3;
           -moz-column-fill: balance;
            column-fill: balance;
            -webkit-column-count: 3;
            -moz-column-count: 3;
             column-count: 3;
             -webkit-column-count: 3;
        -moz-column-count: 3;
             column-count: 3;
             page-break-after: avoid;
             -webkit-page-break-before : avoid;
             page-break-before : avoid;
               -webkit-page-break-after: avoid;
                  -moz-column-fill: balance;
                   column-fill: balance;
                     -webkit-column-fill: balance;
        }
        @media(min-width: 576px) and (max-width: 1200px){
            columns: 2;
        }
        @media(max-width: 576px) {
            columns: 1;
        }
      }
      ul.practice-links {
        @media(max-width: 576px) {
            margin-left: -20px;
        }
        li {
          list-style: none;
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
                padding-top: 18px !important;
          // page-break-after: avoid;
          // -webkit-page-break-before : avoid;
          // page-break-before : avoid;
          //   -webkit-page-break-after: avoid;
          //      -moz-column-fill: balance;
          //       column-fill: balance;
          //         -webkit-column-fill: balance;
        }
        .page_item .li_first-of-type {
          margin-top: 18px !important;
        }

        .page_item a:first-of-type {
          background: url("../svg/right-arrow-blue.png") no-repeat right;
          padding-right: 6%;
          font-size: 18px !important;
          // padding-top: 18px !important;
          // line-height: normal !important;
        }
        ul.children li a {
          background: #fff !important;
        }
      }
      .page_item {
        a {
          font-size: 16px;
          color: #10546B;
          transition: .2s ease-in all;
          text-transform: uppercase;
          line-height: 30px;
        }
        .children {
          a {
            margin-bottom: 0px;
            font-size: 18px;
            color: #4A4A4A;
            text-decoration: underline;
            line-height: 40px;
            transition: .2s ease-in all;
            text-transform: capitalize;
            @media(min-width: 768px) {
              margin-left: -18px;
            }
          }
          a:hover {
           color: #C57916;
          }
        }
      }
      .ctLink:hover {
        // padding-left: 1%;
        text-decoration: none;
      }
      .last-link {
        margin-left: 38px;
      }
      .roundUp{
        a {
          font-size: 22px;
          color: #10546B;
          margin-left: -20px;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
    .practice-lawyers-wrap {
      padding: 1.5%;
      height: auto;
      max-width: 94%;
      width: 100%;
      margin: 0 auto;
      display: block;
      background-color: #10546B;
      margin-top: 30px;
      margin-bottom: 30px;
      @media(max-width: 576px) {
        padding-bottom: 6%;
        max-width: 100%;
      }
      .single-attorney-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 1%;
        @media(max-width: 1200px) {
          padding: 5%;
        }
        @media(max-width: 576px) {
          margin-top: 12px;
        }
        a {
          font-size: 14.2px;
          color: rgba(255,255,255,0.9);
          // border-bottom: .5px solid rgba(255,255,255,0.6);
          text-decoration: underline;
          text-align: center !important;
        }
        .image-wrap {
          padding: 1.2%;
          max-width: 25%;
          width: 100%;
          height: auto;
          @media(max-width: 1200px) {
            max-width: 50%;
            padding: 2.5%;
          }
          img {
            max-width: 100%;
            width: 100%;
            height: auto;
            margin-bottom: 10px;
          }
          .title {
            font-size: 14.2px;
            color: rgba(255,255,255,0.9);
            // border-bottom: .5px solid rgba(255,255,255,0.6);
            text-decoration: underline;
            text-align: center;
          }
        }
      }
    }
    .practice-area-content {
      @media(min-width: 767px){
          padding: 18%;
      }
      @media(max-width: 767px){
          padding: 9%;
          padding-bottom: 15px !important;
      }
      color: white;
      h5 {
        font-size: 28px;
        padding-bottom: 16px;
        @media(max-width: 576px){
            font-size: 22px;
        }
      }
      p {
        color: #D5E8EC;
        font-size: 17px;
      }
      a {
        color: #C57916;
        font-size: 13px;
        font-family: urw-din, sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        .orangeLine {
          margin-top: 3px;
          height: 2px;
          background-color: #C57916;
          width: 67px;
          transition: .3s ease all;
        }
    }
    a:hover {
      text-decoration: none;
    }
    a:hover .orangeLine {
      width: 150px;
    }
  }
    .section-center {
      position: relative;
      .backPattern {
        width: 100%;
        height: auto;
        position: absolute;
        top: 200px;
        left: 0;
        z-index: -1;
        @media(max-width: 767px){
          display: none;
        }
      }
      .quilt-box {
        min-height: 620px;
        max-width: 94%;
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
        margin-top: 50px;
        margin-bottom: 80px;
        .column1 {
          width: 100%;
          min-height: 310px;
          height: auto;
          background: #D5E8EC;
          background-size: cover;
          position: relative;
          .slick-dots
          {
              position: absolute;
              z-index: 99;
              width: 100%;
              padding: 0;
              margin: 0;
              @media(min-width: 767px) {
                bottom: 0px;
              }
              @media(max-width: 767px) {
                bottom: 10px;
              }
              list-style: none;

              text-align: center;
          }
          .slick-dots li
          {
              position: relative;

              display: inline-block;

              width: 18px;
              height: 18px;
              margin: 0 1px;
              padding: 0;
              // margin-top: 30px;

              cursor: pointer;
          }
          .slick-dots li button
          {
              font-size: 0;
              line-height: 0;

              display: block;

              width: 22px;
              height: 20px;
              padding: 3px;

              cursor: pointer;

              color: transparent;
              border: 0;
              outline: none;
              background: transparent;
          }
          .slick-dots li button:hover,
          .slick-dots li button:focus
          {
              outline: none;
          }
          .slick-dots li button:hover:before,
          .slick-dots li button:focus:before
          {
              opacity: 1;
          }
          .slick-dots li button:before
          {
              font-family: 'slick';
              font-size: 22px;
              line-height: 13px;

              position: absolute;
              top: 0px;
              left: 0;

              width: 10px;
              height: 10px;

              content: '○';
              background-color: white;
              border-radius: 100%;
              text-align: center;

              opacity: 1;
              // color: black;

              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
          }
          .slick-dots li.slick-active button:before
          {
              opacity: 1;
              color: #C57916;
              content: '•';
              font-size: 32px;
              margin-top: -1px;
              background-color: transparent !important;
          }

          .single-testimonial {
            padding: 70px 10px;
            text-align: center;
            height: 340px;
            h2 {
              color: #032C3E;
              font-size: 24px;
              line-height: 32px;
              padding-top: 4%;
              @media(min-width: 1200px) {
                padding-top: 11%;
              }
              @media(max-width: 576px) {
                font-size: 20px;
                line-height: normal;
                // margin-top: -40px;
              }
            }
            .quote-author {
              font-size: 18px;
              color: #C57916;
            }
          }
          // .slick-dots {
          //   position: absolute;
          //   bottom: 10px;
          // }
        }
        .column2 {
          width: 100%;
          min-height: 310px;
          height: auto;
          position: relative;
          .gradient {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
          }
          .slide-wrap {
            .slick-dots
            {
                position: absolute;
                bottom: 3%;
                right: 3%;
                z-index: 99;
                max-width: 140px;
                width: 100%;
                // // bottom: -25px;
                //
                // display: block;

                width: 100%;
                padding: 0;
                margin: 0;

                list-style: none;

                text-align: center;
                @media(max-width: 576px) {
                  right: 0px;
                }
            }
            .slick-dots li
            {
                position: relative;

                display: inline-block;

                width: 18px;
                height: 18px;
                margin: 0 1px;
                padding: 0;
                // margin-top: 30px;

                cursor: pointer;
            }
            .slick-dots li button
            {
                font-size: 0;
                line-height: 0;

                display: block;

                width: 22px;
                height: 20px;
                padding: 3px;

                cursor: pointer;

                color: transparent;
                border: 0;
                outline: none;
                background: transparent;
            }
            .slick-dots li button:hover,
            .slick-dots li button:focus
            {
                outline: none;
            }
            .slick-dots li button:hover:before,
            .slick-dots li button:focus:before
            {
                opacity: 1;
            }
            .slick-dots li button:before
            {
                font-family: 'slick';
                font-size: 22px;
                line-height: 13px;

                position: absolute;
                top: 0px;
                left: 0;

                width: 10px;
                height: 10px;

                content: '○';
                background-color: white;
                border-radius: 100%;
                text-align: center;

                opacity: 1;
                // color: black;

                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            .slick-dots li.slick-active button:before
            {
                opacity: 1;
                color: #C57916;
                content: '•';
                font-size: 32px;
                margin-top: -1px;
                background-color: transparent !important;
            }
          .single-slide {
            width: 100%;
            @media(min-width: 1200px) {
              min-height: 359px;
            }
            @media(max-width: 1200px) and (min-width: 576px) {
              min-height: 391px;
            }
            @media(max-width: 576px) {
              min-height: 350px;
            }
            position: relative;
            background: #000 no-repeat center center;
            background-size: cover;
            .postH {
              transition: .3s ease-in all;
            }
            .row-author {
              padding-top: 15px;
            }
            .post-title:hover {
              text-decoration: underline;
              color: white !important;
            }
            .post-meta {
              padding: 4%;
              position: absolute;
              bottom: 10%;
              left: 1%;
              z-index: 99;
              .post-title {
                font-size: 30px;
                color: white;
                transition: .9s ease-in all;
                line-height: 34px;
                @media(max-width: 576px) {
                  font-size: 24px;
                }
              }
              .post-date {
                color: white;
              }
              .authorName {
                letter-spacing: 1.5px;
                color: white;
                text-transform: uppercase;
                font-family: urw-din, sans-serif;
                float: left;
                margin-bottom: -6px;
                border-bottom: .5px solid white;
              }
              .person img {
                width: 69px;
                height: auto;
                border-radius: 100%;
                border: 3px solid white;
              }
            }
          }
        }
      }
        .column3 {
          width: 100%;
          min-height: 310px;
          height: auto;
          background: url("../images/quilt-grayback.jpg") no-repeat;
          background-size: cover;
          position: relative;
          padding: 3%;
          @media(max-width: 992px) {
            padding-bottom: 8% !important;
          }
          .single-settlement {
              h2 {
                font-size: 14px;
                color: #032C3E;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                padding-top: 20px;
              }
            .verdict-date {
              background: url("../images/oval-white.png") no-repeat;
              display: block;
              padding: 60px;
              @media(min-width: 1200px) {
                padding-top: 25px !important;
                font-size: 50px;
                margin-top: 50%;
              }
              @media(max-width: 1200px) and (min-width: 992px) {
                padding-left: 25px !important;
                font-size: 28px;
                padding: 25px;
                background-size: contain;
                margin-top: 50%;
              }
              @media(max-width: 992px) {
                font-size: 50px;
                background-position: center;
                padding-left: 54px;
              }
              padding-left: 14px;
              text-align: center;
              color: #262626;
            }
            .verdict-content {
              color: #262626;
              font-size: 22px;
              line-height: 31px;
            }
            a {
              color: #C57916;
              font-size: 13px;
              font-family: urw-din, sans-serif;
              font-style: normal;
              font-weight: 400;
              letter-spacing: 1.5px;
              text-transform: uppercase;
              .orangeLine {
                margin-top: 3px;
                height: 2px;
                background-color: #C57916;
                width: 20%;
                transition: .3s ease all;
              }
            }
            a:hover {
              text-decoration: none;
            }
            a:hover .orangeLine {
              width: 40%;
            }
          }
        }
        .column4 {
          width: 100%;
          min-height: 310px;
          height: auto;
          background-color: #C57916;
          .control-wrap {
            padding: 55px 25px;

          }
          h2 {
            font-size: 36px;
            color: #754409;
            @media(max-width: 992px) {
              font-size: 28px;
            }
          }
          h3 {
            font-size: 36px;
            color: white;
          }
          a {
            color: white;
            text-decoration: underline;
            text-transform: uppercase;
            font-size: 15px;
            font-family: urw-din, sans-serif;
            font-style: normal;
             font-weight: 400;
             transition: .2s ease-in;
          }
          a:hover {
            color: #032C3E;
          }
        }
      }
    }
  }
}
