.page-id-65 {
  #header {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
  }
  font-family: urw-din, sans-serif;
	font-style: normal;
	font-weight: 400;
  .contact-section {
    letter-spacing: 1.7px;
    @media(max-width:767px) {
        padding-top: 20% !important;
        // margin-top: 80px;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        background: #fff;
        padding-bottom: 0px;
    }
    padding-top: 180px !important;
    padding-bottom: 240px;
    background: url("../images/contactBack.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    h1 {
      font-size: 40px;
      @media(max-width: 576px) {
        font-size: 30px;
      }
    }
    h3 {
      margin: 0 auto;
      margin-top: 20px;
      font-size: 14px;
      color: #606060;
      text-transform: uppercase;
    }
  }
  .conX {
    @media(max-width: 767px){
      max-width: 100% !important;
    }
  }
  .grayBack {
    background-color: #E6E8E4;
    width: 100%;
    height: 100%;
    @media (min-width: 767px){
      margin-left: -15px;
    }
    .address-wrapper {
      @media (min-width: 767px){
        padding: 10%;
      }
    }
   .firm-location {
     line-height: 27px !important;
     @media(min-width:767px) {
         padding-top: 60% !important;
     }
    }
    @media(max-width:767px) {
      min-height: 220px;
      padding: 8%;
    }
  }
  .contactBack {
    background-color: white;
    padding: 4%;
    .gfield_label {
      color: #032C3E;
      font-size: 15px;
      font-family: urw-din, sans-serif;
    	font-style: normal;
    	font-weight: 400;
      letter-spacing: 2px;
      margin-bottom: -8px;
    }
    #gform_submit_button_1 {
      background-color: #C57916;
      color: white;
      width: 137px;
      height: 48px;
      text-transform: uppercase;
      border: none !important;
      letter-spacing: 1.5px;
      transition: .1s ease all;
      box-shadow: none;
    }
    #gform_submit_button_1:hover {
      background-color: #BC7A2A;
    }
    #input_1_3 {
      width: 100%;
    }
    input, textarea {
      border: 1px solid #D1D1D1;
      box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.19);
    }
  }
  .social-icons-row {
    margin-top: 20px;
    max-width: 140px;
    margin-left: -40px;
    ul {
      li {
        display: inline-block;
        a {
          margin: 3px;
          transition: .1s all;
          img.social-logo {
            width: 20px;
            height: auto;
          }
          .twitterLogo {
            margin-top: 3px;
          }
        }
        a:hover {
          opacity: 0.8;
          fill: blue !important;
        }
      }
    }
  }

  .section-callouts {
    padding-bottom: 10%;
    .contact-callout-one {
      background: url("../images/contactBack2.png") no-repeat;
      background-size: cover;
      max-width: 389px;
      width: 100%;
      min-height: 225px;
      height: auto;
      text-align: center;
      @media(max-width: 767px) {
        max-width: 100%;
        min-height: 240px;
      }
      .single-testimonial {
        @media (min-width: 767px) {
          padding: 6%;
          padding-top: 9% !important;
        }
        @media (min-width: 767px) {
          padding: 1.2%;
        }
        h2 {
          color: #032C3E;
          font-size: 20px;
          line-height: 26px;
          @media(max-width: 576px) {
            font-size: 24px;
            line-height: normal;
          }
        }
        .quote {
          padding-top: 9%;
        }
        .quote-author {
          font-size: 18px;
          color: #C57916;
          margin-top: -8px;
        }
      }
      @media (min-width: 1600px) {
        float: right;
        // margin-right: -4.2%;
      }
      @media(min-width: 992px) and (max-width: 1600px) {
        float: right;
        // margin-right: -7.2%;
      }
      @media(min-width: 767px) {
        margin-top: -30px;
      }
      @media(max-width: 576px) {
        float: none;
      }
    }
    .contact-callout-two {
      background: url("../images/contactCallout.jpg") no-repeat;
      background-size: contain;
      max-width: 389px;
      width: 100%;
      min-height: 225px;
      height: auto;
      @media(max-width: 767px) and (min-width: 420px) {
        max-width: 100%;
        min-height: 280px;
        float: none;
        background-size: cover !important;
      }
      @media(max-width: 420px){
        background-size: contain !important;
      }
      @media (min-width: 1600px) {
        float: left;
        // margin-left: -4.2%;
      }
      @media(min-width: 992px) and (max-width: 1600px) {
        float: left;
        // margin-left: -7.2%;
      }
      @media(min-width: 767px) {
        margin-top: -70px;
      }
      @media(max-width: 992px) {
      background-size: contain;
      // background-position: center center;
      }
      a {
        color: #EFF0ED;
        font-size: 30px;
        font-family: freight-text-pro, serif;
        font-style: italic;
        font-weight: 300;
        margin-top: 20%;
        // @media(max-width: 992px) and (min-width: 576px) {
        //   font-size: 24px;
        // }
        @media(max-width: 992px){
          font-size: 24px;
        }
        .callout-wrapper {
          padding-top: 18%;
          padding-left: 4%;
          @media(max-width: 576px) {
            padding-left: 5%;
          }
          .orangeLine {
            margin-top: 3px;
            height: 2px;
            background-color: #C57916;
            width: 12%;
            transition: .3s ease all;
          }
          }
          }
          a:hover {
            text-decoration: none;
          }
          a:hover .orangeLine {
            width: 32%;
        }
      }
    }
  }
