.page-template-template-about-us {
  #header {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
  }
  // @media(max-width: 576px) {
  //   p {
  //     font-size: 16px;
  //   }
  // }
  .top-section {
    padding-top: 180px;
    font-family: "freight-text-pro";
    font-style: normal;
    font-weight: 400;
    text-align: center;
    @media(max-width: 767px) {
      padding-top: 140px;
    }
    h1 {
      @media(min-width: 1200px) {
          width: 48%;
      }
      @media(max-width: 767px) {
        width: 96%;
      }
      // @media(max-width: 420px) {
      //   font-size: 24px;
      // }
      width: 62%;
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    h3 {
      text-align: center !important;
      font-size: 14px;
      color: #606060;
      font-family: urw-din, sans-serif;
      font-style: normal;
      font-weight: 400;
      text-transform:uppercase;
      letter-spacing: 1.5px;
    }
    img {
      margin-top: -30px;
    }
    p {
      @media(min-width: 992px) {
          max-width: 62%;
      }
      width: 100%;
      margin: 0 auto;
      padding: 2%;
      padding-top: 5px !important;
      color: #4A4A4A;
      font-size: 17px;
      line-height: 26px;
    }
  }
  .links-wrap {
    padding: 2.5%;
    margin-bottom: 120px;
    @media(max-width: 576px) {
    font-size: 9px !important;
    padding: 5%;
    }
    a {
      @media(max-width: 576px) {
      font-size: 12px !important;
      }
      color: #C57916;
      font-size: 13px;
      font-family: urw-din, sans-serif;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      .orangeLine {
        margin-top: 7px !important;
        height: 2px;
        background-color: #C57916;
        width: 29%;
        transition: .3s ease all;
      }
  }
  a:hover {
    text-decoration: none;
  }
  a:hover .orangeLine {
    width: 70%;
  }
  @media(min-width: 992px) {
    .link1 {
      float: right;
      margin-right: 10%;
    }
    .link2 {
      float: left;
    }
  }
  @media(max-width: 992px) {
    .link1 {
      float: right;
    }
    .link2 {
      float: left;
    }
  }
  }
  .hero-image {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    img.about-hero {
      width: 100%;
      height: auto;
      margin-top: -100px;
      // @media (min-width: 992px) {
      //   margin-bottom: -240px !important;
      // }
      // @media (max-width: 992px) {
      //   margin-bottom: -60px !important;
      // }
    }
  }
  .second-section {
    min-height: auto;
    padding-bottom:140px;
    width: 100%;
    background-color: #EFF0ED;
    .promise-header {
      text-align: center;
      margin: 0 auto;
      padding-top: 40px;
      color: #032C3E;
      @media(max-width: 576px) {
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: -6px;
      }
    }
    .quilt-box {
      min-height: 620px;
      width: 96%;
      height: auto;
      margin: 0 auto;
      display: block;
      margin-top: 50px;
      margin-bottom: 80px;
      .quilt {
        padding: 3%;
        p {
          font-size: 17px;
          line-height: 26px;
        }
        @media(max-width: 576px) {
          padding: 9%;
          h2 {
            font-size: 28px;
          }
        }
      }
      .quilt1 {
        width: 100%;
        min-height: 310px;
        height: auto;
        background: #D5E8EC;
        background-size: cover;
      }
      .quilt2 {
        width: 100%;
        min-height: 310px;
        height: auto;
        background: #032C3E;
        background-size: cover;
        color: white;
        h2 {
          color: white;
      }
    }
      .quilt3 {
        width: 100%;
        min-height: 310px;
        height: auto;
        background: #fff;
        background-size: cover;
        position: relative;

      }
      .quilt4 {
        width: 100%;
        min-height: 310px;
        height: auto;
        background: #10546B;
        color: white;
        h2 {
          color: white;
      }
    }
  }
    .button-wrapper {
      position: relative;
      .middle-button {
        position: absolute;
        @media(min-width: 576px) {
          margin-left: -83.5px;
        }
        @media(max-width: 576px) {
          max-width: 80% !important;
          margin-left: -40%;
        }
        left: 50%;
        top: 0;
      }
    }
  }
  .third-section-about {
    .image-wrap{
      max-width: 380px;
      min-height: 251px;
      width: 100%;
      height: auto;
      position: relative;
      margin: 0 auto;
      .image1 {
        position: absolute;
        top: 120px;
        left: 12%;
        z-index: 3;
      }
      .image2 {
        position: absolute;
        top: 2%;
        right: 2%;
        z-index: -1;
      }
      .image3 {
        position: absolute;
        top: 110px;
        right: 22%;
        z-index: 4;
      }
      .image4 {
        position: absolute;
        top: -30px;
        left: 15%;
        z-index: 2;
      }
    }
    .process-wrap {
      .how-we-work {
        padding-bottom: 6%;
        h2, p {
          text-align: center;
          @media(max-width: 576px) {
          text-align: left;
        }
        }
        h2 {
          padding: 2%;
          @media(max-width: 576px) {
          font-size: 28px;
        }
        }
        p {
          @media(min-width: 992px) {
            max-width: 62%;
          }
          max-width: 92%;
          width: 100%;
          margin: 0 auto;
          font-size: 17px;
          color: #4A4A4A;
          line-height: 26px;
        }
        ul {
          @media(min-width: 992px) {
            -webkit-columns: 2;
            -moz-columns: 2;
            columns: 2;
            margin: 6%;
          }
          @media(max-width: 992px) {
          margin-left: -20px;
          font-size: 20px;
          }
          list-style: none;
          li {
            margin: 3%;
            color: #4A4A4A;
            font-size: 24px;
            display: inline-block;
            line-height: 27px;
            @media(max-width: 992px) {
            font-size: 20px;
            }
          }
        }
      }
    }
    .section-callouts {
      padding-bottom: 10%;
      padding-top: 4.5%;
      .contact-callout-one {
        background: url("../images/contactBack2.png") no-repeat;
        background-size: cover;
        max-width: 389px;
        width: 100%;
        min-height: 225px;
        height: auto;
        text-align: center;
        @media(max-width: 767px) {
          max-width: 100%;
          min-height: 280px;
        }
        .single-testimonial {
          @media(min-width: 767px){
            padding: 7%;
          }
          @media(max-width: 767px){
            padding: 1.2%;
          }
          .quote {
            padding-top: 9%;
          }
          h2 {
            color: #032C3E;
            font-size: 20px;
            line-height: 26px;
            @media(max-width: 576px) {
              font-size: 24px;
              line-height: normal;
            }
          }
          .quote-author {
            font-size: 18px;
            color: #C57916;
          }
        }
        @media (min-width: 1600px) {
          float: right;
          // margin-right: -4.2%;
        }
        @media(min-width: 992px) and (max-width: 1600px) {
          float: right;
          // margin-right: -7.2%;
        }
        @media(min-width: 767px) {
          margin-top: -30px;
        }
        @media(max-width: 576px) {
          float: none;
        }
      }
      .contact-callout-two {
        background: url("../images/contactCallout.jpg") no-repeat;
        background-size: contain;
        max-width: 389px;
        width: 100%;
        min-height: 225px;
        height: auto;
        @media(max-width: 767px) and (min-width: 420px) {
          max-width: 100%;
          min-height: 280px;
          float: none;
          background-size: cover !important;
        }
        @media(max-width: 420px){
          background-size: contain !important;  
        }

        @media (min-width: 1600px) {
          float: left;
          // margin-left: -4.2%;
        }
        @media(min-width: 992px) and (max-width: 1600px) {
          float: left;
          // margin-left: -7.2%;
        }
        @media(min-width: 767px) {
          margin-top: -70px;
        }
        @media(max-width: 992px) {
        background-size: contain;
        }
        a {
          color: #EFF0ED;
          font-size: 30px;
          font-family: freight-text-pro, serif;
          font-style: italic;
          font-weight: 300;
          margin-top: 20%;
          // @media(max-width: 992px) and (min-width: 576px) {
          //   font-size: 24px;
          // }
          @media(max-width: 992px){
            font-size: 24px;
          }
          .callout-wrapper {
            padding-top: 18%;
            padding-left: 4%;
            @media(max-width: 576px) {
              padding-left: 4.2%;
            }
            .orangeLine {
              margin-top: 3px;
              height: 2px;
              background-color: #C57916;
              width: 12%;
              transition: .3s ease all;
            }
            }
            }
            a:hover {
              text-decoration: none;
            }
            a:hover .orangeLine {
              width: 32%;
          }
        }
      }
  }



}
