.page-template-template-careers {
  #header {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
  }
  @media(max-width: 576px) {
    p {
      font-size: 16px !important;
    }
  }
  .top-section {
    padding-top: 180px;
    font-family: "freight-text-pro";
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding-bottom: 4%;
    @media(max-width: 767px) {
      padding-top: 140px;
    }
    h1 {
      @media(min-width: 1200px) {
          width: 48%;
      }
      width: 72%;
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    h3 {
      text-align: center !important;
      font-size: 14px;
      color: #606060;
      font-family: urw-din, sans-serif;
      font-style: normal;
      font-weight: 400;
      text-transform:uppercase;
      letter-spacing: 1.5px;
    }
    img {
      margin-top: -30px;
    }
    p {
      @media(min-width: 992px) {
          max-width: 62%;
      }
      width: 100%;
      margin: 0 auto;
      padding: 2%;
      padding-top: 5px !important;
      color: #4A4A4A;
      font-size: 17px;
      line-height: 26px;
    }
  }
  .application-section {
    background: url("../images/contactBack.jpg");
    background-size: cover;
    padding: 2%;
    @media(max-width: 767px) {
      padding: 4.5%;
    }
    .column-form {
      @media(max-width: 767px) {
        order: 2;
      }
    }
    .column-image {
      @media(max-width: 767px) {
        order: 1;
      }
    }
    .gravityform-wrapper {
      font-family: urw-din, sans-serif;
      font-style: normal;
      background: #fff;
      padding: 3%;
      color: #032C3E;
      font-size: 15px;
      letter-spacing: 1px;
      @media(max-width: 767px) {
        padding: 6%;
      }
      .gform_wrapper label.gfield_label {
        font-weight: 400 !important;
        margin-bottom: -5px;
      }
      .gform_title {
        font-size: 40px !important;
      }
      #field_3_6 {
        .gfield_required {
          display: none !important;
        }
        .ginput_container {
          margin-top: -20px;
        }
      }
      #input_3_5 {
        border: none;
        box-shadow: none;
      }
      #label_3_6_1:last-child {
        text-decoration: underline;
      }
      .gform_title {
        font-weight: normal !important;
      }
      #gform_submit_button_3 {
        width: auto;
        background-color: #C57916 !important;
        color: white !important;
        font-size: 15px;
        text-transform: uppercase;
        padding: 10px 32px;
        transition: .2s ease-in all;
        font-family: urw-din, sans-serif;
        font-style: normal;
        font-weight: 400;
        border: none !important;
        box-shadow: none !important;
        @media(max-width: 576px) {
          font-size: 12px;
        }
      }
      #gform_submit_button_3:hover {
        color: white;
      	background-color: #BC7A2A !important;
      	text-decoration: none;
      }
      input, textarea {
        border: 1px solid #D1D1D1;
        box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.19);
      }
    }
    .image-wrap{
      max-width: 350px;
      min-height: 261px;
      width: 100%;
      height: auto;
      position: relative;
      margin: 0 auto;
      @media(max-width: 767px) {
        max-width: 320px;
      }
      .image1 {
        position: absolute;
        top: 120px;
        left: 12%;
        z-index: 3;
        width: 46px;
        height: auto;
      }
      .image2 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 116px;
        height: auto;
      }
      .image3 {
        position: absolute;
        top: 20px;
        right: 11%;
        z-index: 4;
        @media(max-width: 767px) {
          right: 13%;
        }
      }
      .image4 {
        position: absolute;
        top: 0;
        left: 20%;
        z-index: 2;
        @media (max-width: 1000px) and (min-width: 767px) {
          width: 130px;
          height: auto;
          top: 11%;
        }
        @media(max-width: 767px) {
          width: 170px;
          height: auto;
          left: 24%;
        }
      }
      .image5 {
        position: absolute;
        bottom: 0;
        left: 10%;
        z-index: 1;
        @media (max-width: 1000px) and (min-width: 767px) {
          width: 110px;
          height: auto;
          bottom: 25px;
        }
        @media(max-width: 767px) {
          left: 13%;
          bottom: 5%;
        }
      }
    }
  }
  .current-jobs-listing {
    padding-bottom: 8%;
    padding-top: 40px;
    h1:first-of-type {
      text-align: center;
      font-size: 36px;
      margin: 0 auto;
      margin-bottom: 40px;
      @media(max-width: 576px) {
        font-size: 30px;
      }
    }
    .job-posting-wrap {
      ul {
        li {
          border: 1px solid #E7E8E5;
          width: 100%;
          height: auto;
          list-style: none;
          margin: 0 auto;
          display: block;
          margin-left: -20px !important;
          margin-bottom: 15px !important;
          padding: 3%;
          h2 {
            color: #10546B;
            font-size: 30px;
            @media(max-width: 576px) {
              font-size: 24px;
            }
          }
          p {
            line-height: 33px;
            color: #4A4A4A;
            font-size: 17px;
          }
          .ending-message {
            font-weight: bold;
          }
        }
      }
    }
  }

}
