/*
	STOP! Do not customize app.css!
	This is compiled from SCSS files. Changes will be lost in the future.
	Either modify SCSS files and recompile (using gulp or another tool) OR
	add and enqueue a custom CSS file.
*/

// Add custom colors or override bootstrap variables here.
// This way you don't have to dig into the massive bootstrap file, unless you prefer.

// Grid
//$grid-columns: 24;

// Fonts
//$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//$font-family-serif: serif;

//$headings-font-family: $font-family-serif;
//$headings-font-weight: 400;

// Type
$paragraph-margin-bottom: 1.5rem;

// Colors


.category {
  .pagination {
    .nav-links {
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -100px;
    }
  }
  #header {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05);
  }
  #wrapper {
    padding-top: 180px;
    @media(max-width: 767px){
    padding-top: 110px;
    }
    .top-content {
      h3 {
        text-align: center !important;
        font-size: 14px;
        color: #606060;
        font-family: urw-din, sans-serif;
        font-style: normal;
        font-weight: 400;
        text-transform:uppercase;
        letter-spacing: 1.5px;
        padding: 3%;
        padding-top: 0px !important;
      }
    }
    .page-title {
      color: #D5913E;
      font-size: 24px;
      @media(max-width: 767px){
      font-size: 18px;
      padding-left: 3%;
      }
      span {
        font-size: 36px;
        color: #4A4A4A;
        padding-left: 2px;
        @media(max-width: 767px){
        font-size: 22px;
        }
      }
    }
  }
  .posts-wrap-cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    padding-bottom: 60px;
    position: relative;
    .post {
      margin-bottom: 20px !important;
      @media(min-width: 1200px){
        max-width: 30%;
        margin: 1%;
      }
      @media(max-width: 1200px) and (min-width: 767px) {
        max-width: 46%;
        margin: 9px;
      }
      @media(max-width: 767px){
        margin: 5%;
        max-width: 100%;
      }
      width: 100%;
      height: auto;
      position: relative;
      .image  {
          background: url("../images/quilt1.png") no-repeat !important;
          @media(min-width: 1200px){
            background-size: contain !important;
          }
          @media(max-width: 1200px) and (min-width: 576px){
            background-size: auto !important;
          }
          @media(max-width: 576px){
            background-size: auto !important;
          }
          height: 215px;
          width: 100%;
          img {
            width: 100%;
            max-height: 215px;
          }
        }
      .post-meta {
        background-color: white;
        height: auto;
        margin-left: 15px;
        width: 100%;
        min-height: 200px;
        margin-top: -50px;
        @media(min-width: 767px){
          max-width: 100%;
        }
        .post-date {
          color: #262626;
          font-size: 14px;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          padding-left: 60px;
          padding-top: 4px;
        }
        .post-title {
          color: #262626;
          font-size: 20px;
          padding-top: 20px;
          padding-bottom: 10px;
          margin: 1%;
          padding-right: 2%;
        }
        .post-categories {
          padding-right: 1%;
         a {
          color: #878787;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 1.5px;
        }
        }
      }
      .person img {
        position: absolute;
        top: 132px;
        left: 0;
        width: 51px;
        height: auto;
        border-radius: 100%;
      }
    }
  }
}

@media(max-width: 1200px) and (min-width: 576px) {
  .container-hero {
    max-width: 88% !important;
  }
}
